.basket-modal {
  background-color: #fff;
  width: 100%;
  max-width: 418px;
  position: fixed;
  top: 0px;
  right: 0;
  z-index: 99;
  border: 1px solid #1e1e1e;
  min-height: 100vh;
  &__title-count {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;

  }
  &__title-count-text,
  &__title-count-number{
    color: #005eff;
    font-size: 13px;
    text-align: center;
  }
  &__title-count-text {
    &_size_big {
      width: 100%;
    }
  }
  &__delivery {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    background-color: #ececec;
    padding: 20px 15px;
    text-align: center;
    @include phones {
      margin-bottom: 30px;
    }
  }
  &__delivery-img-box {
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__delivery-img {
    display: block;
    max-width: 100%;
    height: auto;
    @include phones {
      max-width: 14px;
    }
  }
  &__delivery-text {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    font-family: 'CoText-Light', sans-serif;
    padding-right: 10px;
    @include phones {
      font-size: 10px;
    }
  }
  &__inner-wrap {
    padding: 0 20px;
  }
  &__list {
    margin-bottom: 15px;
  }
  &__item {
    padding: 30px 0;
    margin: 0 -6px;
    display: flex;
    border-bottom: 1px solid #c1c1c1;
  }
  &__column {
    display: flex;
    flex-wrap: wrap;

    margin: 0 6px;
  }
  &__img-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 114px;
    height: 97px;
    overflow: hidden;

    background-color: #ececec;
  }
  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  &__title {
    color: #000000;
    font-family: 'CoText-Light', sans-serif;
    font-size: 14px;
    font-weight: 300;
  }
  &__row {
    display: flex;
    flex-grow: 1;
    width: 100%;
    &_pos_1 {
      margin-bottom: 10px;
    }
    &_pos_3 {
      align-items: center;
    }

  }
  &__remove {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }
  &__price {
    color: #ff8596;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    &.free {
      color: #575757;
      text-decoration: line-through;

    }
  }
  &__price-free {
    color: #ff8596;
    font-size: 16px;
    font-weight: 700;
    margin-left: 3px;
    display: inline-block;
  }
  &__price-text + #{&}__price-currency {
    margin-left: 3px;
  }
  &__inner-column {
    &_pos_1 {
      flex-grow: 1;
    }
  }
  &__counter-amount-value {
    max-width: 15px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    border: none;

  }
  &__counter-amount-text {
    display: inline-block;
  }
  &__promo {
    margin-bottom: 45px;
  }
  &__bottom {
    margin-bottom: -5px;

  }
  &__bottom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &__bottom-text {
    color: #000000;
    font-family: 'CoText-Light', sans-serif;
    font-size: 14px;
    font-weight: 300;
  }
  &__sum {
    text-transform: uppercase;
  }
  &__btn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__btn {
    min-width: 223px;
  }
  &__credit {
    text-align: center;
    margin-bottom: 30px;
    a {
      text-decoration: underline;
      margin-left: 3px;
      color: #000000;
      font-family: 'CoText-Light', sans-serif;
      font-size: 13px;
      font-weight: 300;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__credit-text {
    color: #000000;
    font-family: 'CoText-Light', sans-serif;
    font-size: 13px;
    font-weight: 300;
  }

}