.basket-modal {

  background-color: #ffffff;
  width: 100%;
  max-width: 418px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100%;
  z-index: 901;
  //min-height: 100vh;
  padding-bottom: 50px;
  transition: right .5s;

  overflow-y: scroll;
  height: 100vh ;


  //height: 100vh;
  @include phones {

  }

  &__form {
    //height:100px;
    //overflow-x: hidden;
    //min-height: calc(100vh + 200px);
    display: block;

    @include phones {
      padding-bottom: 100px;

    }
  }
  &__wrap {



  }
  &.active {
    right: 0;
  }

  &__title-count {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 15px;
    @include phones {
      display: none;
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    transform: rotate(45deg);
    cursor: pointer;
    @include phones {
      display: none;
    }
  }

  &__title-count-text,
  &__title-count-number {
    color: #005eff;
    font-size: 13px;
    text-align: center;
  }

  &__title-count-text {
    @include phones {
      font-size: 11px;
    }

    &_size_big {
      width: 100%;
    }
  }

  &__title-count-number {
    margin-right: 5px;
  }

  &__delivery {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    background-color: #ececec;
    padding: 18px 15px;
    text-align: center;
  }

  &__delivery-img-box {
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__delivery-img {
    display: block;
    max-width: 100%;
    height: auto;
    @include phones {
      max-width: 14px;
    }
  }

  &__delivery-text {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    font-family: 'CoText-Light', sans-serif;
    padding-right: 10px;
    @include phones {
      font-size: 10px;
    }
  }

  &__inner-wrap {
    padding: 0 20px;
    @include phones {
      padding: 0 15px;
    }
  }

  &__list {
    margin-bottom: 5px;
    @include phones {
      margin-bottom: 0;
    }
  }

  &__item {
    padding: 30px 0;
    margin: 0 -6px;
    display: flex;
    border-bottom: 2px solid #c1c1c1;
    @include phones {
      padding: 25px 0;
      margin: 0 -5px;
    }
  }

  &__column {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px;
    @include phones {
      margin: 0 4px;
    }
  }

  &__img-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 114px;
    height: 97px;
    overflow: hidden;
    @include phones {
      width: 87px;
      height: 74px;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__title {
    color: #000000;
    font-family: 'CoText-Light', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.1; 
    @include phones {
      font-size: 11px;
    }
  }

  &__row {
    display: flex;
    flex-grow: 1;
    width: 100%;

    &_pos_1 {
      margin-bottom: 2px;
    }

    &_pos_3 {
      align-items: center;
    }
  }

  &__remove {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @include phones {
      width: 23px;
    }
  }

  &__remove-img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__price {
    color: #ff8596;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    @include phones {
      font-size: 12px;
    }

    &.free {
      color: #575757;
      text-decoration: line-through;
    }
  }

  &__inner-price {
    display: inline-block;

    &_price-old {
      color: #575757;
      text-decoration: line-through;
    }
  }

  &__price-free {
    color: #ff8596;
    font-size: 16px;
    font-weight: 700;
    margin-left: 5px;
    display: inline-block;
    @include phones {
      font-size: 12px;
    }
  }

  &__price-text + #{&}__price-currency {
    margin-left: 3px;
  }

  &__inner-column {
    &_pos_1 {
      flex-grow: 1;
      @include phones {
        line-height: 1.1;
      }
    }
  }

  &__counter-amount-value {
    max-width: 18px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    font-size: 14px;
    border: none;
    color: #7d7d7d;
    font-family: 'CoText-Light', sans-serif;
    @include phones {
      font-size: 11px;
    }
  }

  &__counter-amount-text {
    display: inline-block;
    font-size: 14px;
    color: #7d7d7d;
    font-family: 'CoText-Light', sans-serif;
    @include phones {
      font-size: 11px;
    }
  }

  &__promo {
    display: block;
    margin-bottom: 50px;
    @include tablets {
      margin-bottom: 0;
    }
  }

  &__bottom {
    margin-bottom: -5px;


  }

  &__bottom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__bottom-text {
    color: #000000;
    font-family: 'CoText-Light', sans-serif;
    font-size: 14px;
    font-weight: 300;
    @include phones {
      font-size: 11px;
    }
  }

  &__sum {
    text-transform: uppercase;
    @include phones {
      font-size: 11px;
    }
  }

  &__sum-text-currency {
    margin-left: 5px;
  }

  &__btn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    @include phones {
      margin-bottom: 10px;
    }
  }

  &__btn {
    min-width: 223px;
    text-align: center;
    font-size: 13px;
    padding-top: 6px;
    padding-bottom: 8px;
    font-family: "CoHeadlineCorp-Regular", sans-serif;
    @include phones {
      min-width: 170px;
      font-size: 10px;
    }
  }

  &__credit {
    text-align: center;
    margin-bottom: 30px;
    @include phones {
      margin-bottom: 20px;
    }

    a {
      text-decoration: underline;
      margin-left: 3px;
      color: #000000;
      font-family: 'CoText-Light', sans-serif;
      font-size: 13px;
      font-weight: 300;
      @include phones {
        font-size: 10px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__credit-text {
    color: #000000;
    font-family: 'CoText-Light', sans-serif;
    font-size: 13px;
    font-weight: 300;
    @include phones {
      font-size: 10px;
    }
  }

  &__more-products {
    //margin-top: 50px;
  }

  &__counter-amount-btn-img {
    &_plus {
      @include phones {
        width: 12px;
        height: 11px;
      }
    }

    &_minus {
      @include phones {
        width: 9px;
        height: 1px;
      }
    }
  }


}