.bottom-contacts {
  margin-bottom: 55px;
  @include phones {
    margin-bottom: 3px;
  }
  &__text {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 10px;
    @include phones {
      font-size: 8px;
    }
    &_indent_big {
      margin-bottom: 20px;
    }
  }
  &__phone {
    color: #ffffff;
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
    @include phones {
      font-size: 12px;
      margin-bottom: 9px;
    }
  }
  &__mail {
    color: #ffffff;
    font-size: 12px;
    @include phones {
      font-size: 8px;
    }
  }
}