.card-info {
  &__wrap {

  }
  &__top {
    @include phones {
      padding-left: 25px;
      padding-right: 25px;
    }

  }
  &__bottom {
    @include phones {
      padding-left: 25px;
      padding-right: 25px;
    }

  }
  &__main-title {
    color: #005eff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px;
    font-family: "CoHeadlineCorp-Regular", "CoHeadline-Bold", sans-serif;
    @include phones {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 3px;
    }
  }
  &__desc {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    font-family: 'CoText-Light', sans-serif;
    margin-bottom: 50px;
    line-height: 1.2;
    @include phones {
      font-size: 11px;
      margin-bottom: 30px;
    }

  }
  &__price {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7px;
    align-items: center;
    @include phones {
      display: none;
    }
  }
  &__price-new {
    color: #005eff;
    font-size: 36px;
    font-weight: 700;
    margin-right: 15px;

  }
  &__price-old {
    color: #a9a9a9;
    font-size: 24px;
    font-weight: 700;
    text-decoration: line-through;
  }
  &__price-other {
    font-size: 14px;
    font-family: 'CoText-Light', sans-serif;
    //margin-bottom: 50px;
    @include phones {
      display: none;
    }
    &_indent_min {
      margin-bottom: 15px;
    }


  }
  &__price-other-numeric {
    font-weight: 700;
    margin: 0 4px;
    display: inline-block;


  }
  &__colors {
    &_indent_big {
      margin-bottom: 30px;
      @include phones {
        margin-bottom: 12px;
      }
    }
  }


  &__choice-size {
    margin-bottom: 65px;
    &_indent_min {
      margin-bottom: 20px;
    }

  }
  &__tabs {
    margin-bottom: 30px;
    @include phones {
      margin-bottom: 8px;
    }
  }
  &__star-rating {
    margin-bottom: 50px;
    @include phones {
      margin-bottom: 30px;
    }
    &_indent_min {
      margin-bottom: 40px;
      @include phones {
        margin-bottom: 20px;
      }
    }
  }
  &__delivery {
    display: flex;
    margin-bottom: 50px;
    @include phones {
      margin-bottom: 30px;
    }
  }
  &__delivery-img-box {
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


  }
  &__delivery-img {
    display: block;
    max-width: 100%;
    height: auto;
    @include phones {
      max-width: 14px;
    }

  }
  &__delivery-text {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    font-family: 'CoText-Light', sans-serif;
    padding-right: 10px;
    @include phones {
      font-size: 10px;
    }

  }
  &__delivery-tooltip {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 23px;
    background-color: #ff8596;
    border-radius: 50%;
    @include phones {
      width: 14px;
      height: 14px;
    }


  }
  &__delivery-tooltip-img {
    display: block;
    max-width: 100%;
    height: auto;
    @include phones {
      width: 5px;
      height: 8px;
    }

  }
  &__btn-wrap {
    display: flex;
    @include laptop {
      justify-content: center;
    }


  }
  &__btn {
    max-width: 213px;
    width: 100%;
    text-align: center;
    &_credit {
      background-color: #a0978e;
      box-shadow: 5px 5px 0px 0px #d0cdc6;

    }

  }
  &__btn + #{&}__btn {
    margin-left: 30px;
  }
  &__btn-text #{&}__btn-text {
    padding-left: 3px;
  }
  &__btn-text {
    &_pos_2 {
      @include phones {
        display: none;
      }

    }
    &_credit_pos_1 {
      @include phones {
        display: none;
      }


    }
  }

}