
.card-info-tabs {
  &__title {
    color: #005eff;
    font-size: 18px;
    font-weight: 700;
    margin-right: 15px;
    @include phones {
      order: 2;
      font-size: 16px;
    }
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  &__nav-item {
    list-style-type: none;
    border: 1px solid #726fd1;
    width: 33.333333%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__nav-item:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &__nav-item:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__nav-link {
    padding: 20px 20px;
    display: block;
    text-align: center;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 700;
    flex-grow: 1;
    @include phones {
      font-size: 11px;
      line-height: 1.2;
      padding: 13px 10px;
    }
  }

  &__nav-item.active {
    background-color: #e0ebff;
  }

  &__tab {
    display: none;
    border-radius: 10px;
    border: 1px solid #726fd1;
    padding: 20px 10px 20px 30px;
    width: 100%;
    @include phones {
      padding: 10px 8px 15px 20px;
    }
  }

  &__tab.active {
    display: block;
  }

  &__saving {
    position: absolute;
    top: -36px;
    left: 30px;
    min-width: 95px;
    height: 54px;
    border-radius: 14px;
    border: 1px solid #726fd1;
    background-color: #005eff;
    padding: 6px 10px;
    color: #fefefe;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    @include phones {
      min-width: 57px;
      height: 32px;
      border-radius: 14px;
      font-size: 8px;
      top: -24px;
      left: 16px;
      padding-top: 4px;
    }
  }

  &__saving-text + #{&}__saving-number {
    margin-left: 5px;
  }

  &__inner-wrap {
    display: flex;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    @include phones {
      margin-bottom: 22px;
    }
  }

  &__choice-other {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
    font-family: 'CoText-Light', sans-serif;
    @include phones {
      order: 1;
      text-align: right;
      flex-grow: 1;
      font-size: 10px;
      margin-bottom: 12px;
      width: 100%;
    }
  }

  &__desc {
    color: #1d1d1d;
    font-family: 'CoText-Light', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    @include phones {
      font-size: 11px;
      margin-bottom: 15px;
    }
  }

  &__img-wrap {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  &__img-box {
    width: 91px;
    height: 91px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    overflow: hidden;
    @include phones {
      width: 66px;
      height: 66px;
    }
  }

  &__img-box + #{&}__img-box {
    margin-left: 10px;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__combination {
    color: #1d1d1d;
    font-family: 'CoText-Light', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    @include phones {
      font-size: 11px;
      margin-bottom: 35px;
    }
  }

  &__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__price-new {
    color: #005eff;
    font-size: 36px;
    font-weight: 700;
    margin-right: 15px;
    @include phones {
      font-size: 24px;
    }
  }

  &__price-old {
    color: #a9a9a9;
    font-size: 24px;
    font-weight: 700;
    text-decoration: line-through;
    @include phones {
      font-size: 14px;
    }
  }

  &__profit {
    color: #ff8597;
    font-size: 14px;
    font-weight: 700;
    @include phones {
      font-size: 10px;
    }
  }
}
