.choice-size {
  &__wrap {
    display: flex;
    align-items: center;

  }
  &__column {
    &_pos_1 {
      flex-grow: 1;
      @include phones {
        display: none;
      }

    }
    &_pos_2 {
      min-width: 190px;

    }
    @include phones {
      width: 100%;

    }

  }
  &__title {
    color: #1d1d1d;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;

  }
  &__value {
    color: #1d1d1d;
    font-size: 14px;
    font-family: 'CoText-Light', sans-serif;

  }
}