.choice-self-size-input {

  &__input {
    border-radius: 10px;
    border: 1px solid #726fd1;
    padding: 20px 20px;
    width: 100%;
    height: 64px;
    text-align: center;
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    outline: none;
    padding-right: 40px;
    @include input-placeholder {
      color:  #a9a9a9;
    }
    @include phones {
      height: 28px;
      padding-top: 9px;
      padding-bottom: 9px;
      border-color: #000000;
    }

  }

  &__wrap {
    position: relative;

  }
  &__clear {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -11px;
    cursor: pointer;
  }



  &__price {
    color: #005eff;
    font-size: 16px;
    font-weight: 700;
    line-height: 12.34px;
    margin-right: 10px;
    padding-bottom: 3px;
  }
}
