.choice-self-size {
  &__wrap {
    align-items: center;

    &_mod_pillows {
      margin-top: 30px;
      margin-bottom: 25px;
    }
  }

  &__column {
    &_pos_1 {
      flex-grow: 1;
    }

    &_pos_2 {
    }

    @include phones {
      width: 100%;
    }

    &_mod_pillows {
      max-width: 200px;
      margin-top: 15px;
    }
  }

  &__title {
    color: #1d1d1d;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;
    @include phones {
      font-size: 10px;
    }

  }

  &__value {
    color: #1d1d1d;
    font-size: 14px;
    font-family: 'CoText-Light', sans-serif;
    @include phones {
      font-size: 9px;
    }

  }
}