.choice-size {
  &__wrap {
    align-items: center;

  }

  &__column {

    &_pos_1 {
      flex-grow: 1;

    }

    @include phones {
      width: 100%;
    }

  }

  &__title {
    color: #1d1d1d;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;
    @include phones {
      font-size: 10px;
    }
  }

  &__value {
    color: #1d1d1d;
    font-size: 14px;
    font-family: 'CoText-Light', sans-serif;
    @include phones {
      font-size: 9px;
    }
  }
}