.choice {
  padding-top: 60px;
  padding-bottom: 50px;
  position: relative;
  @include laptop {
    padding-bottom: 0;
  }
  @include phones {
    padding-top: 25px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(-42deg, rgb(0, 71, 176) 0%, rgb(0, 71, 176) 1%, rgb(255, 133, 151) 100%);

  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  &__item {
    width: 33.333333%;
    padding: 0 20px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;


    @include laptop {
      width: 100%;
      margin-left: 15px;
      margin-right: 15px;
      border-right: none;
      padding: 35px 0;

    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-image: linear-gradient(to bottom, #a57abc, #b97bb8, #cb7db1, #da80aa, #e684a2);
      @include laptop {
        left: 0;
        right: auto;
        top: auto;
        bottom: 0;
        background: linear-gradient(90deg, rgba(165, 122, 188, 1) 50%, rgba(230, 132, 162, 1) 50%);
        width: 100%;
        height: 1px;


      }
    }

    &:last-child:before {
      display: none;
    }
  }

  &__content {
    max-width: 370px;
    width: 100%;
  }

  &__main-title {
    text-align: center;
    color: #005eff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    @include phones {
      font-size: 18px;
      margin-bottom: 13px;
    }
  }

  &__main-sub-title {
    color: #000000;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 90px;
    font-family: "CoText-Light", sans-serif;
    @include laptop {
      margin-bottom: 60px;
    }
    @include phones {
      font-size: 11px;
      margin-bottom: 0;
    }
  }

  &__img-box {
    overflow: hidden;
    max-width: 100%;
    height: 113px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 75px;
    @include laptop {
      margin-bottom: 40px;
    }
    @include phones {
      margin-bottom: 10px;
    }


  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    @include laptop {
        max-height: 100%;
    }

  }

  &__tooltip {
    position: absolute;
    left: 50%;
    top: -21px;
    margin-left: -40px;
    width: 80px;
    @include laptop {
      top: 19px;
      display: none;
    }


  }

  &__title {
    color: #005eff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.2;
    @include phones {
      font-size: 16px;
    }
  }

  &__param {
    color: #000000;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
    @include phones {
      font-size: 10px;
      margin-bottom: 5px;
    }
  }

  &__desc {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 25px;
    text-align: center;
    font-family: "CoText-Light", sans-serif;
    @include phones {
      font-size: 13px;
      display: none;
    }

  }

  &__price-wrap {
    margin-bottom: 45px;
    text-align: center;
    line-height: 1.2;
    @include phones {
      margin-bottom: 25px;
    }


  }

  &__price-prifix {
    color: #005eff;
    font-size: 20px;
    font-weight: 700;
    @include phones {
      font-size: 13px;
    }


  }

  &__price-old {
    font-size: 15px;
    text-decoration: line-through;
    color: #a9a9a9;
    margin: 0 5px;
    @include phones {
      font-size: 10px;
    }

  }

  &__price-new {
    color: #005eff;
    font-size: 20px;
    font-weight: 700;
    @include phones {
      font-size: 13px;
    }

  }

  &__btn-wrap {
    display: flex;
    justify-content: center;

  }

  &__decor {
    position: absolute;
    left: -23px;
    top: 40%;
    min-height: 39px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 46px;
    text-transform: lowercase;


    color: #005eff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    @include laptop {
      display: block;
      top: auto;
      bottom: -16px;
      left: 50%;
      margin-left: -23px;
      padding-top: 8px;
    }
    @include phones {
      padding-top: 0;
      min-height: 24px;
      bottom: -10px;
    }
  }

  &__item:first-child #{&}__decor {
    display: none;
    @include laptop {
      display: block;
    }
  }

  &__item:last-child #{&}__decor {
    @include laptop {
      display: none;
    }
  }

}