.complement-video {
  &_indent_bottom {
    margin-bottom: 140px;
    @include phones {
      margin-bottom: 80px;
    }
  }
  &__title {
    margin-bottom: 70px;
    @include phones {
      margin-bottom: 40px;
    }
  }
  &__title-text {
    @include phones {
      max-width: 175px;
    }
  }
  &__video {
    background-color: #000;
  }

}