.detail-parameters {
  &_indent_min {
    margin-bottom: 40px;
  }



  &_indent_min-2 {
    margin-bottom: 40px;
    @include phones {
      margin-bottom: 25px;
    }
  }

  &__text {
    color: #000000;
    font-family: 'CoText-Light', sans-serif;
    font-size: 16px;
    font-weight: 300;
    @include phones {
      font-size: 11px;
      line-height: 1.2;
    }
  }

  &__detail-parameter {

  }
}