.h-contacts {
	padding-right: 20px;
	&__item {
		display: block;
	}
	&__info_number {
		font-size: 18px;
		color: #005eff;
		font-weight: 700;
		line-height: 1.2;
	}
	&__info_text {
		font-size: 14px;
		color: #005eff;
		font-weight: 700;

	}
}