.list-section {
  margin-top: 100px;
  margin-bottom: 60px;
  @include laptop {
    margin-top: 60px;
    margin-bottom: 25px;
  }

  &__wrap {
    display: flex;
    margin: 0 -18px;

    @include laptop {
      flex-wrap: wrap;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__item {
    width: calc(33.333333% - 36px);
    margin: 0 18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: transform ease .4s;
    color: #1f2633;
    outline: none !important;
    @include laptop {
      width: 100% !important;
      max-width: 650px !important;
      margin: 0 45px;
    }
    @include tablets {
      margin: 0 25px;
      max-width: 460px !important;
    }
    @include phones {
      margin: 15px;
      max-width: 310px !important;
    }

    &:hover {
      transform: scale(1.1);
      @include laptop {
        transform: none;
      }
    }

    &.size-min {
      transform: scale(0.9);
    }
  }

  &__main-title {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 80px;
    color: #005eff;
    @include laptop {
      margin-bottom: 60px;
    }
  }

  &__top {
    position: relative;
    color: #1f2633;
    background-color: #d1e0e7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    outline: none;
  }

  &__inner-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 20px 0 20px;
  }

  &__item:nth-child(2) .list-section__top {
    background-color: #f1f1f1;
  }

  &__stock {
    position: absolute;
    top: 0;
    right: 20px;
    @include phones {
        right: 10px;
    }
  }

  &__title {
    margin-bottom: 15px;
    max-width: 240px;
    font-size: 30px;
    line-height: 30px;
    margin-right: auto;
    margin-left: auto;
    color: #005eff;
    font-weight: 600;
    text-align: center;
  }

  &__tooltip {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 30px;
    margin-bottom: 10px;
  }

  &__desc {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    max-width: 305px;
    min-height: 250px;
    margin-bottom: 10px;
    @include desktop {
        min-height: 290px;
    }
    @include laptop {
      min-height: 250px;
    }
  }

  &__img-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    //overflow: hidden;
    position: relative;
    margin-right: -7px;
    margin-left: -7px;


    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 86%;
      height: 10px;
      bottom: 24px;
      left: 5%;
      z-index: 1;
      box-shadow: 0 0 35px 10px rgba(0, 0, 0, .8);
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 5;
  }

  &__test {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
  }
  &__bottom {
    margin-bottom: 20px;
  }

  &__test-text {
    font-size: 11pt;
    color: #007aff;
    position: relative;
    text-align: center;
    margin-bottom: 8px;
    width: 100%;
  }

  &__test-img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__price {
    margin-bottom: 20px;
  }

  &__price-old {
    text-align: center;
    text-decoration: line-through;
    font-size: 17px;

    span {
      font-weight: 700;
    }
  }

  &__price-new {
    text-align: center;
    font-weight: 700;
    font-size: 17px;

    span {
      font-size: 22px;
      font-weight: 700;
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__btn {
  }

  &__note {
    font-size: 11px;
    font-weight: 700;
    text-align: center;
  }

  .slick {
    &-arrow {
      position: absolute;
      left: 0;
      font-size: 0;
      border: none;
      outline: none;
      padding: 0;
      cursor: pointer;
      z-index: 200;
      background: url("../img/arrow_slider.png") no-repeat center;
      background-size: 30px 56px;
      background-color: transparent !important;
      width: 40px;
      height: 80px;
      top: 30%;
      transform: scale(-1);
      @include phones {
        width: 15px;
        background-size: contain!important;
      }
    }

    &-disabled {
      opacity: 0.4;
      cursor: auto;
    }

    &-next {
      left: auto;
      right: 0;
      transform: rotate(0);
    }

    &-prev {
      transform: rotate(180deg);
      left: 0;
    }

    &-dots {
      position: absolute;
      top: -50px;
      display: flex;
      left: 0;
      padding: 0;
      z-index: 10;
      justify-content: center;
      width: 100%;
      @include phones {

        top: -30px;
      }

      & > li {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 4px !important;
        height: 4px !important;
        border-radius: 50%;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: 0;
        background: 0 0;
        background: #000;
        margin-right: 25px;
        opacity: .25;
        &.slick-active {
          opacity: 1;
        }

        &:last-child {
          margin-right: 0;
        }


        button {
          display: none;
        }
      }
    }
  }
}