.more-products {
  &__main-title {
    color: #6c6c6c;
    font-family: "CoHeadlineCorp-Regular", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    @include phones {
      font-size: 14px;
    }
  }

  &__top {
    text-align: center;
  }

  &__title {
    color: #4068e4;
    font-size: 14px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    @include phones {
      font-size: 11px;
    }
  }

  &__bottom {
    border-radius: 7px;
    background-color: #fbfbfd;
    padding: 15px 15px;
    display: flex;
    align-items: center;
  }

  &__img-box {
    display: flex;
    flex-wrap: wrap;
    width: 170px;
    height: 120px;
    justify-content: center;
    align-items: flex-start;
    //margin-right: 35px;
    overflow: hidden;
    @include phones {
      width: 130px;
      height: 70px;
      //margin-right: 25px;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__btn-wrap {
    padding-top: 15px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    @include phones {
      padding-top: 10px;
    }
  }

  &__btn {
    max-width: 85px;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
    width: 100%;
    font-family: "CoHeadlineCorp-Regular", sans-serif;
    @include phones {
      font-size: 8px;
      outline: 11px !important;
      padding-right: 11px !important;
      max-width: 65px;
    }
  }

  &__bottom-column {
    flex-grow: 1;

    &_pos_1 {
      display: flex;
      justify-content: flex-end;
      text-align: right;
    }

    &_pos_2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include phones {
        max-width: 160px;
      }
    }
  }

  &__counter-amount {
    align-items: center;

    .counter-amount__value {
      background-color: #fbfbfd;
    }

    .counter-amount__btn_plus {
      margin-left: 5px;
    }

    .counter-amount__btn-img_plus {
      @include phones {
        width: 11px;
        height: 11px;
      }
    }

    .counter-amount__btn-img_minus {
      @include phones {
        width: 9px;
        height: 1px;
      }
    }
  }

  .slick {
    &-arrow {
      position: absolute;
      top: 1px;
      left: 10px;
      font-size: 0;
      background: url("../img/slider-arrow.png") center center no-repeat;
      border: none;
      outline: none;
      padding: 0;
      cursor: pointer;
      transition: border-color .1s ease;
      z-index: 4;
      width: 9px;
      height: 19px;
    }

    &-disabled {
      border-left-color: #ebebeb;
      cursor: auto;
    }

    &-next {
      left: auto;
      right: 10px;
    }

    &-prev {
      transform: rotate(180deg);
    }
  }

  &__list {
    * {
      outline: none;
    }
  }
}