.reviews-slider {
  &_indent_big {
    margin-bottom: 150px;
  }

  &__wrap {
  }

  &__item {
    margin: 0 20px;
  }

  &__img-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .slick-list {
    margin-right: -20px;
    margin-left: -20px;
  }


  .slick-dots {
    position: absolute;
    bottom: -70px;
    left: 0;
    padding: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    @include phones {
      bottom: -40px;

    }

    & > li {
      width: 11px;
      height: 11px;
      margin-right: 16px;
      border-radius: 50%;
      list-style-type: none;
      cursor: pointer;
      border: 1px solid #005eff;
      @include phones {
        width: 6px;
        height: 6px;
      }
      &:last-child {
        margin-right: 0;
      }

      &.slick-active {
        border-color: #005eff;
        background-color: #005eff;
      }

      button {
        display: none;
      }
    }
  }
}


