.self-made-advantages {
  padding-top: 40px;
  background-color: #ebecee;
  padding-bottom: 100px;
  position: relative;
  background: -moz-linear-gradient(-45deg, rgba(235,236,238,1) 0%, rgba(235,236,238,1) 0%, rgba(219,220,224,1) 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebecee', endColorstr='#dbdce0', GradientType=1 );
  @include phones {
    padding-bottom: 45px;
  }
  &__top {
    padding-bottom: 20px;


  }
  &__img-box {
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;

  }
  &__img {
    display: block;
    max-width: 100%;
    height: auto;

  }
  &__list {
    display: flex;
    margin: 0 -15px;
    @include laptop {
        display: block;
    }

  }


  &__item {
    width: 25%;
    margin: 0 15px;
    @include laptop {
        width: auto;
    }
  }



  &__title {
    margin-bottom: 25px;
    display: flex;
    align-items: flex-start;
    @include phones {
      margin-bottom: 15px;
    }

  }

  &__title-text {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    font-family: "ProximaNoba-Regular",sans-serif;
    margin-right: 5px;
    @include phones {
      font-size: 14px;
    }
  }
  .self-made-advantages__title-tooltip {
    @include phones {
      display: none;
    }

  }
  &__title-tooltip {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    font-family: "ProximaNoba-Regular",sans-serif;
    font-size: 14px;
    border-radius: 50%;

    &_indent_big {
      margin-top: 5px;
    }
    &_position {
      position: absolute;
    }
    &_pos_1 {
      top: 29%;
      left: 43%;
    }
    &_pos_2 {
      top: 13%;
      left: 67%;
    }
    &_pos_3 {
      top: 77%;
      left: 52%;
    }
    &_pos_4 {
      top: 72%;
      left: 37%;
    }
  }
  &__container {
    @include phones {
      padding-right: 20px;
      padding-left: 20px;
    }
  }


  &__desc {
    color: #000000;
    font-family: "ProximaNoba-Regular",sans-serif;
    font-size: 18px;
    font-weight: 300;
    @include phones {
      font-size: 12px;
      line-height: 1.2;
    }


  }

  .slick-dots {
    position: absolute;
    bottom: 10px;
    display: inline-flex;
    left: 50%;
    padding: 0;
    z-index: 10;
    margin-left: -33px;
    @include laptop {
      bottom: -40px;
    }

    & > li {
      width: 6px;
      height: 6px;
      margin-right: 12px;
      border-radius: 50%;
      list-style-type: none;
      cursor: pointer;
      border: 1px solid #000000;
      @include laptop {
        width: 5px;
        height: 5px;
        margin-right: 8px;
      }

      &.slick-active {
        border-color: #000000;
        background-color: #000000;
      }

      button {
        display: none;
      }
    }
  }

  .slick-slide {
    //width: 150px !important;;
  }

  .slick-list {
    overflow: visible !important;
  }

}