.sets-tabs {
  padding-top: 20px;
  @include phones {
    padding-top: 7px;

  }


  &__nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
    padding: 0 15px;
    @include laptop {
      margin-bottom: 30px;
    }
    @include phones {
      margin-bottom: 20px;
    }


  }
  &__nav-title {
    color: #565654;
    font-family: 'CoText-Light', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 14px;
    margin-bottom: 10px;
    @include phones {
      color: #565654;
      font-size: 11px;
      margin-bottom: 5px;
    }
  
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 -3px;
    @include phones {
      justify-content: center;
    }


  }

  &__nav-item {
    list-style-type: none;
    margin: 0 3px;

  }

  &__list {
    margin-bottom: -140px;
  }


  &__nav-link {
    display: block;
    color: #565654;
    font-family: 'CoText-Light', sans-serif;
    font-weight: 300;
    transition: .3s ease;
    font-size: 16px;
    @include phones {
      font-size: 11px;
    }
  }

  &__nav-item.active #{&}__nav-link {

    color: #005eff;
    font-weight: 400;
  }

  &__tab {
    display: none;
    width: 100%;


  }

  &__tab.active {
    display: block;
  }




  &__img-box{

    overflow: hidden;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    @include laptop {
        justify-content: flex-start;
    }
    @include phones {
      //max-height: 144px;;
      border-radius: 0;
      margin-bottom: 10px;
    }

    &:focus {
      outline: none;
    }

  }

  &__img {
    display: inline-block;
    height: auto;
    width: auto;
    max-width: 100%;
    //border-radius: 10px;
    //overflow: hidden;
  }


  &__container {
    @include phones {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__item {
    display: flex;
    margin: 0 -50px 0;
    @include laptop {
      flex-wrap: wrap;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 50px;

    }
    @include phones {
      padding-top: 0;
      margin: 0;
      margin-bottom: 40px;
    }

  }

  &__column {
    margin: 0 50px 140px;
    max-width: 100%;
    width: 100%;


    &_pos_1 {
      width: calc(68% - 50px);
      @include desktop {
        width: calc(50% - 50px);
      }

      @include phones {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &_pos_2 {
      width: calc(42% - 50px);

      @include desktop {
        width: calc(50% - 50px);
      }
      @include phones {
        padding-left: 15px;
        padding-right: 15px;
      }

    }

    @include laptop {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      margin-bottom: 40px;

    }
    @include phones {
      margin: 0;
      width:100% ;
      padding-left: 0;
      padding-right: 0;
    }

  }
  &__inner-top {
    display: none;
    text-align: center;

    @include laptop {
        display: block;
      padding-left: 15px;
      padding-right: 15px;
    }
    @include phones {

    }
  }
  &__top-main-title {
    color: #005eff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family:  "CoHeadline-Bold", sans-serif;
      @include phones {
        font-size: 18px;
        font-family: "CoHeadlineCorp-Regular", sans-serif;
        margin-bottom: 5px;
      }
  }
  &__top-desc {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    font-family: 'CoText-Light', sans-serif;
    margin-bottom: 25px;
    line-height: 1.2;
    @include phones {
      font-size: 10px;
      margin-bottom: 15px;
    }


  }


}