.sets-info {
  &__wrap {
  }

  &__top {
    @include phones {
      padding-left: 40px;
      padding-right: 25px;
    }
  }

  &__bottom {
    @include phones {
      padding-left: 35px;
      padding-right: 35px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  &__main-title {
    color: #005eff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    font-family: "CoHeadlineCorp-Regular", "CoHeadline-Bold", sans-serif;
    @include phones {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 3px;
    }
  }

  &__desc {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    font-family: 'CoText-Light', sans-serif;
    margin-bottom: 25px;
    line-height: 1.2;
    @include phones {
      font-size: 11px;
      margin-bottom: 30px;
    }
  }

  &__price {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7px;
    align-items: center;
    @include phones {
      display: none;
    }
  }

  &__price-new {
    color: #005eff;
    font-size: 36px;
    font-weight: 700;
    margin-right: 15px;
  }

  &__price-old {
    color: #a9a9a9;
    font-size: 24px;
    font-weight: 700;
    text-decoration: line-through;
  }

  &__price-other {
    color: #ff8597;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
    @include phones {
      display: none;
    }
  }

  &__sets-size {
    margin-bottom: 20px;
    @include phones {
      margin-bottom: 10px;
    }
  }

  &__tabs {
    margin-bottom: 30px;
    @include phones {
      margin-bottom: 5px;
    }
  }

  &__star-rating {
    margin-bottom: 50px;
    @include phones {
      margin-bottom: 30px;
    }
  }

  &__delivery {
    display: flex;
    @include phones {
      margin-bottom: 30px;
      order: 1;
    }
  }

  &__delivery-img-box {
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__delivery-img {
    display: block;
    max-width: 100%;
    height: auto;
    @include phones {
      max-width: 14px;
    }
  }

  &__delivery-text {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    font-family: 'CoText-Light', sans-serif;
    padding-right: 10px;
    @include phones {
      font-size: 10px;
    }
  }

  &__delivery-tooltip {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 23px;
    background-color: #ff8596;
    border-radius: 50%;
    @include phones {
      width: 14px;
      height: 14px;
    }
  }

  &__delivery-tooltip-img {
    display: block;
    max-width: 100%;
    height: auto;
    @include phones {
      width: 5px;
      height: 8px;
    }
  }

  &__btn-wrap {
    display: flex;
    margin-bottom: 25px;
    @include laptop {
      justify-content: center;
    }
    @include phones {
      order: 2;
    }
  }

  &__btn {
    max-width: 213px;
    width: 100%;
    text-align: center;

    &_credit {
      background-color: #a0978e;
      box-shadow: 5px 5px 0px 0px #d0cdc6;
    }
  }

  &__btn + #{&}__btn {
    margin-left: 30px;
  }

  &__btn-text #{&}__btn-text {
    padding-left: 3px;
  }

  &__btn-text {
    &_pos_2 {
      @include phones {
        display: none;
      }
    }

    &_credit_pos_1 {
      @include phones {
        display: none;
      }
    }
  }

  &__list-wrap {
    margin-bottom: 60px;
    @include phones {
      margin-bottom: 45px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    margin-bottom: -12px;
  }

  &__list-item {
    display: flex;
    list-style-type: none;
    padding-left: 35px;
    position: relative;
    color: #000000;
    font-size: 16px;
    font-family: 'CoText-Light', sans-serif;
    font-weight: 300;
    margin-bottom: 8px;
    @include phones {
      padding-left: 25px;
      font-size: 11px;
      font-family: 'CoText-Light', sans-serif;
      margin-bottom: 3px;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 7px;
      left: 8px;
      width: 9px;
      height: 9px;
      background-color: #005eff;
      opacity: 0.59;
      border-radius: 50%;
      @include phones {
        width: 5px;
        height: 5px;
        top: 5px;
      }
    }
  }

  &__list-item-column {
    &_pos_1 {
      width: 70%;
    }

    &_pos_2 {
      width: 30%;
      margin-left: 20px;
      color: #005eff;
      font-weight: 700;

    }
  }

  &__list-title {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
    @include phones {
      font-size: 11px;
      font-weight: 700;
      margin-bottom: 3px;
    }
  }

  &__inner-top {
    &_show_desktop {
      @include laptop {
        display: none;
      }
    }
  }
}