.sets-size {
  &__wrap {
    display: flex;
    align-items: center;
    margin: 0 -15px;

  }
  &__column {
    margin: 0 15px;
    &_pos_1 {
      width: calc(42% - 15px);
      @include laptop {
        width: calc(55% - 15px);
      }
      @include phones {
        display: none;

      }

    }
    &_pos_2 {
      width: calc(58% - 15px);
      @include laptop {
        width: calc(45% - 15px);
      }

    }
    @include phones {
      width: 100%;
      padding-right: 15px;
    }

  }
  &__title {
    color: #1d1d1d;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;

  }
  &__value {
    color: #1d1d1d;
    font-size: 14px;
    font-family: 'CoText-Light', sans-serif;

  }
}