.slider-detail {
  flex-grow: 1;

  &__label {
    position: absolute;
    top: -42px;
    left: 50px;
    z-index: 8;
    @include phones {
      left: auto;
      right: 15px;
      top: 15px;
    }
  }

  &__wrap {
    position: relative;
  }

  &__icon-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0 -10px 0 0;
    max-height: 165px;
    max-width: 110px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0 0 10px;
    padding-bottom: 10px;
  }

  &__icon {
    @include laptop {
      width: 30px;
      height: 30px;
    }
  }

  &__top {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    @include phones {
      border-radius: 0;
    }
  }

  &__inner-wrap {
    margin-bottom: 30px;
    position: relative;
    @include laptop {
      margin-bottom: 50px;
    }


  }

  &__view {

    overflow: hidden;
    text-align: center;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    @include phones {
      border-radius: 0;
      display: block !important;
    }

    &:focus {
      outline: none;
    }

  }

  &__img {
    display: inline-block;
    height: auto;
    width: auto;
    max-width: 100%;
    //border-radius: 10px;
    //overflow: hidden;
  }

  &__preview-img {
    display: block;
    max-width: 100%;
    height: auto !important;
    min-height: 100%;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    margin: 0 -5px -14px;
    @include laptop {
      display: none;
    }
  }

  &__preview {
    border-radius: 10px;
    border: 1px solid transparent;
    width: 105px;
    height: 105px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease border-color;
    cursor: pointer;
    margin: 0 5px 14px;

    &.active {
      border-color: #005eff;
    }
  }

  &__video-preview {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  &__play-icon.play-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    cursor: pointer;
  }

  .slick {
    &-arrow {
      position: absolute;
      top: 50%;
      left: 10px;
      font-size: 0;
      width: 0;
      height: 0;
      border-right: none;
      border-left: 10px solid #999999;
      border-bottom: 10px solid transparent;
      border-top: 10px solid transparent;
      background-color: transparent;
      outline: none;
      padding: 0;
      cursor: pointer;
      transition: border-color .1s ease;
      z-index: 4;
    }

    &-dots {
      position: absolute;
      bottom: -40px;
      display: inline-flex;
      left: 50%;
      padding: 0;
      z-index: 10;
      margin-left: -33px;

      & > li {
        width: 6px;
        height: 6px;
        margin-right: 12px;
        border-radius: 50%;
        list-style-type: none;
        cursor: pointer;
        border: 1px solid #a1a1a1;

        &.slick-active {
          border-color: #a1a1a1;
          background-color: #a1a1a1;
        }

        button {
          display: none;
        }
      }
    }


    &-disabled {
      border-left-color: #ebebeb;
      cursor: auto;
    }

    &-next {
      left: auto;
      right: 10px;
    }

    &-prev {
      transform: rotate(180deg);
    }
  }


}