.timer {
  display: inline-block;
  &__title {
    color: #005eff;
    font-size: 15px;
    font-weight: 700;
    @include phones {
      font-size: 11px;
    }
  }
  .timerDisplay {
    display: flex;
  }
  .displaySection {
    margin-right: 12px;

    &:first-child {
      margin-right: 20px;
      @include phones {
        margin-right: 10px;
      }
    }
    &:nth-child(2) .numberDisplay::before,
    &:nth-child(2) .numberDisplay::after {
    	content: '';
    	display: block;
    	position: absolute;
    	top: 10px;
    	right: -10px;
    	width: 7px;
    	height: 7px;
    	background:  #005eff;
        border-radius: 50%;
        @include phones {
          width: 5px;
          height: 5px;
        }
    }
    &:nth-child(2) .numberDisplay::after {
      top: auto;
      bottom: 1px;
    }

  }
  .numberDisplay {
    position: relative;
    color: #005eff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
    line-height: 1;
    @include phones {
      font-size: 24px;
    }
  }
  .periodDisplay {
    color: #222222;
    font-size: 11px;
    font-weight: 300;
    display: block;
    @include phones {
      font-size: 8px;
    }
    &:first-letter {
      text-transform: uppercase;
    }
    

  }
}