.tooltip-all {
  position: relative;



  &__box {
    position: absolute;
    bottom: 70%;
    right: 5px;
    width: 150px;
    display: none;
    min-height: 54px;
    border-radius: 14px;
    border: 1px solid #726fd1;
    background-color: #005eff;
    padding: 6px 10px;
    color: #fefefe;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 30;
    @include phones {
      padding: 4px 8px;
      min-height: 44px;
      font-size: 10px;
      width: 100px;
    }


    &.active {
      display: flex;
    }

    span {

    }
  }
}