
$color_base: #3366cc;
$color_text: #000;

//text colors
$color_title_blue:		#005eff;
$color_text_blue:		#005eff;
$color_link_blue:		#005eff;
$color_adv_title-blue:	#005eff;


$color_title_black:		#000;
$color_text_black:		#000;

$color_title_white:		#fff;
$color_text_white:		#fff;


$color_link_gray:		#7c8088;


$color_text_gray_2:		#8a919f;



//bg colors
$color_bg_gray:			#e6e9ee;
$color_bg_white:		#fff;
$color_bg_blue:			#005eff;
$color_bg_blue_light: 	#eff8ff;



//button colors
$color_button_blue:		#005eff;


//common colors
$color_blue:			#005eff;
$color_white:			#fff;
$color_black:			#000;
$color_gray:			#e6e9ee;
$color_gray_2:			#989898;
$color_red:			    #ec5250;




// etс colors
$color_bg_control_ymap: 	#fdfdfd;
$color_text_control_ymap: 	#4c4c4c;