include blocks/subscription

footer.footer
	.footer__container.container
		+subscription()(class="footer__subscription_show-mobile")
		.footer__wrap
			.footer__inner-wrap
				.footer__column.footer__column_pos_1
					.footer__logo
						.footer__logo-img-box
							img.footer__logo-img(src="img/b-logo.png", alt='')
					.footer__scl.scl
						.scl__list
							a.scl__item(href="#")
								+icon("i-fb", "scl__icon")
								.scl__text  Facebook
							a.scl__item(href="#")
								+icon("i-vk", "scl__icon")
								.scl__text Vkontakte
							a.scl__item(href="#")
								+icon("i-inst", "scl__icon")
								.scl__text Instagram
							a.scl__item(href="#")
								+icon("i-odn", "scl__icon")
								.scl__text Odnoklassniki
							a.scl__item(href="#")
								+icon("i-ytb", "scl__icon")
								.scl__text Youtube
					.footer__pay.pay
						.pay__top
							.pay__img-box
								img.pay__img(src="img/pay_ya.png", alt='')
						.pay__bottom
							.pay__list
								.pay__item
									img.pay__list-img(src="img/ps-visa.png", alt='')
								.pay__item
									img.pay__list-img(src="img/ps-maca.png", alt='')
								.pay__item
									img.pay__list-img(src="img/ps-mir.png", alt='')
								.pay__item
									img.pay__list-img.pay__list-img_size_min(src="img/ps-ap_pay.png", alt='')

				.footer__column.footer__column_pos_2
					.bottom-menu__list
						.bottom-menu__item
							a.bottom-menu__link(href="#") Матрасы
						.bottom-menu__item
							a.bottom-menu__link(href="#") Кровати
						.bottom-menu__item
							a.bottom-menu__link(href="#") Подушки
						.bottom-menu__item
							a.bottom-menu__link(href="#") Аксессуары
						.bottom-menu__item
							a.bottom-menu__link(href="/sets.html") Комплекты
						.bottom-menu__item
							a.bottom-menu__link(href="/gifts.html") Подарки
				.footer__column.footer__column_pos_3
					.bottom-menu__list
						.bottom-menu__item
							a.bottom-menu__link(href="/about-us.html") О нас
						.bottom-menu__item
							a.bottom-menu__link(href="/reviews.html") Отзывы
						.bottom-menu__item
							a.bottom-menu__link(href="/partners.html") Где полежать
						.bottom-menu__item
							a.bottom-menu__link(href="/static-content.html") Контакты
						.bottom-menu__item
							a.bottom-menu__link(href="#") Доставка и оплата
						.bottom-menu__item
							a.bottom-menu__link(href="#") Условия возврата и обмена
						.bottom-menu__item
							a.bottom-menu__link(href="#") FAQ
						.bottom-menu__item
							a.bottom-menu__link(href="#") Оптовым клиентам
						.bottom-menu__item
							a.bottom-menu__link(href="#") Политика конфиденциальности
						.bottom-menu__item
							a.bottom-menu__link(href="#") Публичная оферта
				.footer__column.footer__column_pos_4
					.bottom-contacts
						.bottom-contacts__text Клиентская поддержка
						a.bottom-contacts__phone(href="tel:84951279564") 8 (495) 153-50-27
						a.bottom-contacts__phone(href="tel:84951279564") 8 (800) 153-50-27
						.bottom-contacts__text.bottom-contacts__text_indent_big
							| (по будням с 10:00 до 20:00
							br
							|	по выходным с 11:00 до 18:00)
						a.bottom-contacts__mail(href="mailto:info@bluesleep.ru") info@bluesleep.ru
					a.footer__city(href="#") Москва
				.footer__column.footer__column_pos_5
					+subscription()(class="footer__subscription")













































