
//- если нужно задать особое поведение/стиль какому-либо элементу используем ключ modifier и в шаблоне прописываем как модификатор
-
	var
		$faqList = [
				{
					'title': 'я бОЮСЬ ПОКУПАТЬ ОНЛАЙН. ВАШИ МАТРАСЫ ГДЕ-ТО МОЖНО ПОСМОТРЕТЬ?',
					'desc': 'Да! У нас есть шоу-рум, расположенный в 2 минутах ходьбы от метро Лубянка. Адрес: Малый Черкасский переулок\n'+
					'д. 2, 6 этаж. Звоните - мы вас встретим. Смотреть, трогать, лежать, прыгать, бегать (при желании) — можно всё!',
				},
				{
					'title': 'Говорят, что нужно регулярно переворачивать матрас. Это правда?',
					'desc': 'И да, и нет. Наши матрасы переворачивать не надо, они не проседают и не теряют форму. Если у вас дешёвый тонкий матрас, то он быстро сминается под весом вашего тела, образуются впадины. Регулярное переворачивание и, как следствие, смена точек давления на матрас — выход из ситуации, но не панацея. Лучше купить качественный матрас и забыть о регулярном перетряхивании всей постели.'
				},
				{
					'title': 'Хороший сон, или мы вернем деньги!',
					'desc': 'У вас есть 100 дней для тестирования матраса. Рекомендуем вам поспать на нём минимум месяц — за это время матрас идеально точно подстроится под ваши анатомические особенности. Если через 30 дней вы всё ещё будете недовольны, мы полностью компенсируем стоимость покупки и заберём матрас. Вы имеете полное право передумать, ведь речь идёт о здоровье. *При возврате товара из других регионов (исключая Москву и область и Санкт-Петербург и область) стоимость доставки товара до Москвы оплачивает Покупатель'
				},
				{
					'title': 'Надо ли сохранять упаковку на эти 100 дней?',
					'desc': 'Нет, спокойно выкидывайте упаковку и пользуйтесь матрасом как обычно. Главное — сохраните чек.'
				},
				{
					'title': 'С какого момента начинается 100-дневный тест?',
					'desc': 'Со дня доставки матраса вам домой.'
				},
				{
					'title': 'Какие есть размеры матраса?',
					'desc': 'На выбор матрасы стандартных размеров (см): 80x190, 80x200, 90x190, 90x200, 100x190, 100x200, 120x190, 120x200, 140x190, 140x200, 160x190, 160x200, 180x190, 180x200, 200x190, 200x200. '
				},
				{
					'title': 'Какие условия доставки? ',
					'desc': 'Бесплатная доставка по Москве, Санкт-Петербургу и области. Производится на следующий день после заказа. Никаких лишних усилий с вашей стороны, вы достаточно потрудились, выбрав матрас.'
				},
				{
					'title': 'А если я живу на 9 этаже и у меня нет лифта?',
					'desc': 'Мы доставляем матрас до двери квартиры, без исключений.'
				},
				{
					'title': 'Есть ли услуга по вывозу старого матраса? ',
					'desc': 'Да. Услуга стоит 1000 рублей. Действует только в день доставки. Мы увезём и утилизируем старый матрас, вам не нужно об этом беспокоиться. Спите спокойно.'
				},
				{
					'title': 'Куда я могу положить матрас? ',
					'desc': 'Наши матрасы можно положить на любую ровную поверхность или ортопедическое основание (ламели).'
				},
				{
					'title': 'Почему матрас столько стоит? ',
					'desc': 'Мы исключили посредников из нашей цепочки производства и реализации, матрас привозят к вам практически с фабрики. Если бы у нас были розничные магазины, то наши матрасы стоили бы в два раза дороже, ведь технология их производства инновационная. До последнего времени такие матрасы были атрибутом роскошной спальни, но мы считаем, что хорошие вещи должны быть доступными. Поэтому сделали всё для максимального снижения стоимости.'
				},
				{
					'title': 'Почему вы продаёте только две модели матраса?',
					'desc': 'Модели Blue Sleep Hybrid и Blue Sleep Concept подходят практически всем. Ваш вес, положение во время сна, температура тела, количество человек в постели — все факторы учтены. Матрасы поддерживают позвоночник в естественном положении, снимая с него нагрузку, при этом вы не «проваливаетесь» в кровать. Если вы спите в постели вдвоем, то вам обеспечен качественный раздельный сон — никаких ям посередине кровати из-за разницы в весе. Матрасы Blue Sleep не проседают в местах наибольшего давления, а возвращаются в практически исходную форму каждое утро.  \n'+
					'\n'+
					'Blue Sleep Hybrid - 24 см, средней жесткости, с пружинами.\n'+
					'\n'+
					'Blue Sleep Concept - 20 см, выше средней жесткости, без пружин.\n'+
					'\n'+
					'Со временем ваши предпочтения могут меняться — Blue Sleep подстроится!'
				},
			]
