
//- если нужно задать особое поведение/стиль какому-либо элементу используем ключ modifier и в шаблоне прописываем как модификатор
-
	var
	newsList = {
		'title': 'Свежие новости', // использовать, если есть несколько одинаковых шаблонов с разными заголовками
		'subtitle': '',
		'items': [
			{
				'name': 'Новость 1',
				'url': '#1',
				'img': {
					'src' : 'img/content/cat-item-1.png',
					'alt' : 'описание',
					'width' : '',
					'height' : '',
				},
			},
			{
				'name': 'Новость 2',
				'url': '#33',
				'img': {
					'src' : 'img/content/cat-item-1.png',
					'alt' : 'описание',
					'width' : '',
					'height' : '',
				},
			},
		]
	},

	newsDetail = {},


	//labels 'new', 'discount', 'best_offer'
	//status 'in-stock', 'not-available', 'for-order'
	catalogList = {
		'title': '',
		'subtitle': '',
		'items': [
			{
				'id': '1',
				'name': 'Лампа светодиодная SAFFIT SBA6015 Шар 15W 6400K E27 55012',
				'url': '/product-detail.html',
				'available_to_order': true,
				'status': {
					'xml_id': 'in_stock',
					'modifier': 'in-stock',
					'text': 'В наличии',

				},
				'prices':{
					'current': '129',
					'old': '198',
				},
				'img': [
					{
						'src' : 'img/c/ci-1.jpg',
						'alt' : 'что-то там',
						'width' : '',
						'height' : '',
					}
				],
				'labels': [
					{
						'xml_id': 'new',
						'icon': 'label-new',
						'description': 'Новинка'
					},
					{
						'xml_id': 'discount',
						'icon': 'label-discount',
						'description': 'Акция'
					},
				],
				'options': {
					'base': {
						'name': 'Цоколь',
						'modifier': 'wide',
						'type': 'radio',
						'items': [
							{
								'name': 'E14',
								'checked': true,
							},
							{
								'name': 'E27',
								'checked': '',
								'disabled': true
							},
						],
					},
					'power': {
						'name': 'Мощность, Вт',
						'modifier': 'two-row',
						'type': 'radio',
						'items': [
							{
								'name': '3,5',
								'checked': '',
								'disabled': true
							},
							{
								'name': '5',
								'checked': '',
							},
							{
								'name': '7',
								'checked': 'true',
							},
							{
								'name': '9',
								'checked': '',
								'disabled': true
							},
							{
								'name': '12',
								'checked': '',
								'disabled': true
							},
							{
								'name': '14',
								'checked': '',
								'disabled': true
							},
							{
								'name': '15',
								'checked': '',
								'disabled': true
							},
							{
								'name': '17',
								'checked': '',
							},
							{
								'name': '22',
								'checked': '',
							},
							{
								'name': '26',
								'checked': '',
							},
							{
								'name': '30',
								'checked': '',
							},
						],
					},
					'temperature': {
						'name': 'Температура, К',
						'modifier': 'wide_2',
						'type': 'radio',
						'items': [
							{
								'name': '2700',
								'checked': 'true',
							},
							{
								'name': '4200',
								'checked': '',
							},
							{
								'name': '6400',
								'checked': '',
							},
						],
					},
				},
			},
			{
				'id': '2',
				'name': 'Лампа светодиодная, 6LED(3.5W) 230V E27 2700K золото, LB-71 25281',
				'url': '/product-detail.html',
				'available_to_order': true,
				'status': {
					'xml_id': 'for_order',
					'modifier': 'for-order',
					'text': 'Под заказ'
				},
				'prices':{
					'current': '39',
					'old': '',
				},
				'img': [
					{
						'src' : 'img/c/ci-2.jpg',
						'alt' : 'что-то там',
						'width' : '',
						'height' : '',
					}
				],
				'options': {
					'base': {
						'name': 'Цоколь',
						'modifier': 'wide',
						'type': 'radio',
						'items': [
							{
								'name': 'E14',
								'checked': '',
							},
							{
								'name': 'E27',
								'checked': true,
							},
						],
					},
					'power': {
						'name': 'Мощность, Вт',
						'modifier': 'two-row',
						'type': 'radio',
						'items': [
							{
								'name': '3,5',
								'checked': '',
							},
							{
								'name': '5',
								'checked': '',
							},
							{
								'name': '7',
								'checked': '',
							},
							{
								'name': '9',
								'checked': '',
							},
							{
								'name': '12',
								'checked': '',
							},
							{
								'name': '14',
								'checked': '',
							},
						],
					},
					'temperature': {
						'name': 'Температура, К',
						'modifier': '',
						'type': 'radio',
						'items': [
							{
								'name': '2700',
								'checked': '',
							},
							{
								'name': '4200',
								'checked': '',
							},
							{
								'name': '6400',
								'checked': '',
							},
						],
					},
				},
			},
			{
				'id': '3',
				'name': 'Лампа светодиодная Feron LB-430 G9 5W 4000K 25637',
				'url': '/product-detail.html',
				'available_to_order': true,
				'status': {
					'xml_id': 'in_stock',
					'modifier': 'in-stock',
					'text': 'В наличии'
				},
				'prices':{
					'current': '126',
					'old': '',
				},
				'img': [
					{
						'src' : 'img/c/ci-3.jpg',
						'alt' : 'что-то там',
						'width' : '',
						'height' : '',
					}
				],
				'options': {
					'base': {
						'name': 'Цоколь',
						'modifier': 'wide',
						'type': 'radio',
						'items': [
							{
								'name': 'G9',
								'checked': true,
							},
						],
					},
					'power': {
						'name': 'Мощность, Вт',
						'modifier': 'two-row',
						'type': 'radio',
						'items': [
							{
								'name': '3,5',
								'checked': '',
							},
							{
								'name': '5',
								'checked': '',
							},
							{
								'name': '7',
								'checked': '',
							},
							{
								'name': '9',
								'checked': '',
							},
							{
								'name': '12',
								'checked': '',
							},
							{
								'name': '14',
								'checked': '',
							},
							{
								'name': '15',
								'checked': '',
							},
						],
					},
					'temperature': {
						'name': 'Температура, К',
						'modifier': 'wide_2',
						'type': 'radio',
						'items': [
							{
								'name': '2700',
								'checked': '',
							},
							{
								'name': '4200',
								'checked': '',
							},
						],
					},
				},
			},
			{
				'id': '4',
				'name': 'Лампа светодиодная Feron LB-65 E27-E40 50W 6400K 25539',
				'url': '/product-detail.html',
				'available_to_order': true,
				'status': {
					'xml_id': 'for_order',
					'modifier': 'for-order',
					'text': 'Под заказ'
				},
				'prices':{
					'current': '773',
					'old': '',
				},
				'img': [
					{
						'src' : 'img/c/ci-4.jpg',
						'alt' : 'что-то там',
						'width' : '',
						'height' : '',
					}
				],
				'labels': [
					{
						'xml_id': 'best_offer',
						'icon': 'label-best-offer',
						'description': 'Лучшее предложение'
					},
				],
				'options': {
					'base': {
						'name': 'Цоколь',
						'modifier': 'wide',
						'type': 'radio',
						'items': [
							{
								'name': 'E14',
								'checked': '',
							},
							{
								'name': 'E27',
								'checked': true,
							},
						],
					},
					'power': {
						'name': 'Мощность, Вт',
						'modifier': 'two-row',
						'type': 'radio',
						'items': [
							{
								'name': '3,5',
								'checked': '',
							},
							{
								'name': '5',
								'checked': '',
							},
							{
								'name': '7',
								'checked': '',
							},
						],
					},
					'temperature': {
						'name': 'Температура, К',
						'modifier': 'wide_2',
						'type': 'radio',
						'items': [
							{
								'name': '2700',
								'checked': '',
							},
							{
								'name': '4200',
								'checked': '',
							},
							{
								'name': '6400',
								'checked': '',
							},
						],
					},
				},
			},
			{
				'id': '5',
				'name': 'Лампа светодиодная Feron LB-453 GX53 12W 2700K 25833',
				'url': '/product-detail.html',
				'available_to_order': false,
				'status': {
					'xml_id': 'not-available',
					'modifier': 'not-available',
					'text': 'Нет в наличии'
				},
				'prices':{
					'current': '183',
					'old': '',
				},
				'img': [
					{
						'src' : 'img/c/ci-5.jpg',
						'alt' : 'что-то там',
						'width' : '',
						'height' : '',
					}
				],
				'options': {
					'base': {
						'name': 'Цоколь',
						'modifier': 'wide',
						'type': 'radio',
						'items': [
							{
								'name': 'GX53',
								'checked': true,
							},
						],
					},
					'power': {
						'name': 'Мощность, Вт',
						'modifier': 'two-row',
						'type': 'radio',
						'items': [
							{
								'name': '3,5',
								'checked': '',
							},
							{
								'name': '5',
								'checked': '',
							},
							{
								'name': '7',
								'checked': '',
							},
							{
								'name': '9',
								'checked': '',
							},
							{
								'name': '12',
								'checked': '',
							},
							{
								'name': '14',
								'checked': '',
							},
							{
								'name': '15',
								'checked': '',
							},
							{
								'name': '17',
								'checked': '',
							},
							{
								'name': '22',
								'checked': '',
							},
							{
								'name': '26',
								'checked': '',
							},
							{
								'name': '30',
								'checked': '',
							},
						],
					},
					'temperature': {
						'name': 'Температура, К',
						'modifier': 'wide_2',
						'type': 'radio',
						'items': [
							{
								'name': '2700',
								'checked': '',
							},
						],
					},
				},
			},
			{
				'id': '6',
				'name': 'Лампа светодиодная SAFFIT SBA6020 Шар E27 20W 2700K 55013',
				'url': '/product-detail.html',
				'available_to_order': true,
				'status': {
					'xml_id': 'in_stock',
					'modifier': 'in-stock',
					'text': 'В наличии'
				},
				'prices':{
					'current': '167',
					'old': '',
				},
				'img': [
					{
						'src' : 'img/c/ci-6.jpg',
						'alt' : 'что-то там',
						'width' : '',
						'height' : '',
					}
				],
				'options': {
					'base': {
						'name': 'Цоколь',
						'modifier': 'wide',
						'type': 'radio',
						'items': [
							{
								'name': 'E14',
								'checked': '',
							},
							{
								'name': 'E27',
								'checked': true,
							},
						],
					},
					'power': {
						'name': 'Мощность, Вт',
						'modifier': 'two-row',
						'type': 'radio',
						'items': [
							{
								'name': '3,5',
								'checked': '',
							},
							{
								'name': '5',
								'checked': '',
							},
							{
								'name': '7',
								'checked': '',
							},
							{
								'name': '9',
								'checked': '',
							},
							{
								'name': '12',
								'checked': '',
							},
							{
								'name': '14',
								'checked': '',
							},
							{
								'name': '15',
								'checked': '',
							},
							{
								'name': '17',
								'checked': '',
							},
						],
					},
					'temperature': {
						'name': 'Температура, К',
						'modifier': 'wide_2',
						'type': 'radio',
						'items': [
							{
								'name': '2700',
								'checked': '',
							},
							{
								'name': '4200',
								'checked': '',
							},
						],
					},
				},
			},
		]
	},

	catalogDetail = {},

	$categories_list = {
		'title': '',
		'items': [
			{
				'name' : 'Форма «Груша» А60, А65',
				'url' : 'catalog.html',
				'amount': "253",
				'img' : {
					'src' : 'img/c/ca-1.png',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Форма «Свеча» С37',
				'url' : 'catalog.html',
				'amount': "56",
				'img' : {
					'src' : 'img/c/ca-2.png',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Форма «Свеча на ветру» С37Т',
				'url' : 'catalog.html',
				'amount': "43",
				'img' : {
					'src' : 'img/c/ca-3.png',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Форма «Шар» G45',
				'url' : 'catalog.html',
				'amount': "342",
				'img' : {
					'src' : 'img/c/ca-4.png',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Рефлекторные R39, R50, R63',
				'url' : 'catalog.html',
				'amount': "658",
				'img' : {
					'src' : 'img/c/ca-5.png',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Точечные MR-11, MR-16',
				'url' : 'catalog.html',
				'amount': "34",
				'img' : {
					'src' : 'img/c/ca-6.png',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Капсульные, G4, G9',
				'url' : 'catalog.html',
				'amount': "44",
				'img' : {
					'src' : 'img/c/ca-7.png',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Таблетка. GX53',
				'url' : 'catalog.html',
				'amount': "344",
				'img' : {
					'src' : 'img/c/ca-8.png',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Для холодильников',
				'url' : 'catalog.html',
				'amount': "455",
				'img' : {
					'src' : 'img/c/ca-9.png',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Линейные T8',
				'url' : 'catalog.html',
				'amount': "253",
				'img' : {
					'src' : 'img/c/ca-10.png',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Большой мощности',
				'url' : 'catalog.html',
				'amount': "43",
				'img' : {
					'src' : 'img/c/ca-11.png',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			}
		]
	};



	$contactsList = [
			{
			title: "Офисы в Москве",
			id: 1,
			items: [
				{
				subtitle: "Центральный офис",
					id: 1,
					phone: [
						"+7 (495) 799-17-36",
						"+7 (499) 763-55-54 (тел./факс)"
						],
					mail: [
						"svet-feron@mail.ru"
						],
					location: "г. Москва, ул. Старообрядческая"+
						"д. 28 А, 3 эт., оф. 311",
					coords: [55.743644, 37.699660]
				},
				{
					subtitle: "Офис на авиамоторной",
					id: 2,
					phone: [
						"8 (495) 799-17-36",
						"8 (499) 763-55-54 (тел./факс)"
						],
					mail: [
						"svet-feron2@mail.ru",
						"svet-feron3@mail.ru"
						],
					location: "г. Москва, ул. Старообрядческая"+
						"д. 38 А, 3 эт., оф. 311",
					coords: [57.152175, 65.5342950]
				},
				{
					subtitle: "Центральный офис",
					id: 3,
					phone: [
						"8 (495) 799-17-36",
						"8 (499) 763-55-54 (тел./факс)"
						],
					mail: [
						"svet-feron2@mail.ru",
						"svet-feron3@mail.ru"
						],
					location: "г. Москва, ул. Старообрядческая"+
						"д. 38 А, 3 эт., оф. 311",
					coords: [57.152175, 65.5442951]
				}
				]
			},
			{
			title: "Офисы в Регионах",
			id: 2,
			items: [
				{
				subtitle: "Офис в новосибирске",
				id: 1,
				phone: [
					"+9 (495) 799-17-36",
					"+79 (499) 763-55-54 (тел./факс)"
					],
				mail: [
					"svet-feron@mail3.ru"
					],
				location: "г. Москва, ул. Старообрядческая"+
					"д. 28 А, 3 эт., оф. 311",
				coords: [57.146843, 65.535148]
				},
				{
				subtitle: "Офис в Казани",
				id: 2,
				phone: [
					"+9 (495) 799-17-36",
					"+79 (499) 763-55-54 (тел./факс)"
					],
				mail: [
					"svet-feron@mail3.ru"
					],
				location: "г. Москва, ул. Старообрядческая"+
					"д. 28 А, 3 эт., оф. 311",
				coords: [57.146843, 65.585149]
				},
				{
				subtitle: "Офис в Пензе",
				id: 3,
				phone: [
					"+9 (495) 799-17-36",
					"+79 (499) 763-55-54 (тел./факс)"
					],
				mail: [
					"svet-feron@mail3.ru"
					],
				location: "г. Москва, ул. Старообрядческая"+
					"д. 28 А, 3 эт., оф. 311",
				coords: [57.146843, 65.536150]
				}
				]
			}

		]

	$advantagesList = [
		{
			category: "Для дистрибьютеров",
			href: "#dist",
			items: [
				{
					title: "С нами легко зарабатывать",
					desc: "Узнаваемость бренда, высокий спрос,\n"+
					"приемлимая цена и отличное качество\n"+
					"делают нашу продукцию доступной для\n"+
					"большинства потребителей",

				},
				{
					title: "Конкурентные преимущества",
					desc: "Мы контролируем каналы сбыта. Все клинты вашего региона," +
					" обратившиеся к	нам напрямую, будут направлены к вам."

				},
				{
					title: "Гарантия надежности",
					desc: "Мы стремимся к высокому качеству не только в" +
					" производственных аспектах, но и в построении партнерских " +
					"связей, поэ тому всегда готовы пойти навстречу " +
					"и оказать поддержку в любой ситуации",
				}
			]
		},
		{
			category: "Для магазинов",
			href: "#shop",
			items: [
				{
					title: "2С нами легко зарабатывать",
					desc: "Узнаваемость бренда, высокий спрос,\n"+
					"приемлимая цена и отличное качество\n"+
					"делают нашу продукцию доступной для\n"+
					"большинства потребителей",

				},
				{
					title: "Конкурентные преимущества",
					desc: "Мы контролируем каналы сбыта. Все клинты вашего региона," +
					" обратившиеся к	нам напрямую, будут направлены к вам."

				},
				{
					title: "Гарантия надежности",
					desc: "Мы стремимся к высокому качеству не только в" +
					" производственных аспектах, но и в построении партнерских " +
					"связей, поэ тому всегда готовы пойти навстречу " +
					"и оказать поддержку в любой ситуации",
				}
			]
		},
		{
			category: "Для архитекторов и дизайнеров",
			href: "#disign",
			items: [
				{
					title: "3С нами легко зарабатывать",
					desc: "Узнаваемость бренда, высокий спрос,\n"+
					"приемлимая цена и отличное качество\n"+
					"делают нашу продукцию доступной для\n"+
					"большинства потребителей",

				},
				{
					title: "Конкурентные преимущества",
					desc: "Мы контролируем каналы сбыта. Все клинты вашего региона," +
					" обратившиеся к	нам напрямую, будут направлены к вам."

				},
				{
					title: "Гарантия надежности",
					desc: "Мы стремимся к высокому качеству не только в" +
					" производственных аспектах, но и в построении партнерских " +
					"связей, поэ тому всегда готовы пойти навстречу " +
					"и оказать поддержку в любой ситуации",
				}
			]
		},
		{
			category: "Для строителей",
			href: "#build",
			items: [
				{
					title: "5С нами легко зарабатывать",
					desc: "Узнаваемость бренда, высокий спрос,\n"+
					"приемлимая цена и отличное качество\n"+
					"делают нашу продукцию доступной для\n"+
					"большинства потребителей",

				},
				{
					title: "Конкурентные преимущества",
					desc: "Мы контролируем каналы сбыта. Все клинты вашего региона," +
					" обратившиеся к	нам напрямую, будут направлены к вам."

				},
				{
					title: "Гарантия надежности",
					desc: "Мы стремимся к высокому качеству не только в" +
					" производственных аспектах, но и в построении партнерских " +
					"связей, поэ тому всегда готовы пойти навстречу " +
					"и оказать поддержку в любой ситуации",
				}
			]
		},
		{
			category: "Для E-commerce",
			href: "#commerce",
			items: [
				{
					title: "4С нами легко зарабатывать",
					desc: "Узнаваемость бренда, высокий спрос,\n"+
					"приемлимая цена и отличное качество\n"+
					"делают нашу продукцию доступной для\n"+
					"большинства потребителей",

				},
				{
					title: "Конкурентные преимущества",
					desc: "Мы контролируем каналы сбыта. Все клинты вашего региона," +
					" обратившиеся к	нам напрямую, будут направлены к вам."

				},
				{
					title: "Гарантия надежности",
					desc: "Мы стремимся к высокому качеству не только в" +
					" производственных аспектах, но и в построении партнерских " +
					"связей, поэ тому всегда готовы пойти навстречу " +
					"и оказать поддержку в любой ситуации",
				}
			]
		},

	]

	$newsList = [
		{
			img: "img/c/events0.jpg",
			title: "Новая линейка светильников\n"+
			"для производств",
			link: "#",
			date: "14.08.2019"
		},
		{
			img: "img/c/events1.jpg",
			title: "Экономичное освещение АЗС",
			link: "#",
			date: "16.07.2019"
		},
		{
			img: "img/c/events2.jpg",
			title: "XIX Московская конференция производителей освещения",
			link: "#",
			date: "16.09.2019"
		},
		{
			img: "img/c/events3.jpg",
			title: "Высоконадежное аварийное освещение",
			link: "#",
			date: "6.08.2019"
		},
		{
			img: "img/c/events4.jpg",
			title: "Нюансы освещения в офисе страховщика",
			link: "#",
			date: "19.08.2019"
		},
		{
			img: "img/c/events5.jpg",
			title: "Подбираем освещение для продуктовых магазинов",
			link: "#",
			date: "23.08.2019"
		},
	]

	$calcList = [
		{
			icon: "light",
			title: "Калькулятор освещенности",
			desc: "Расчитайте освещенность помещения\n"+
				"с помощью нашего калькулятора или\n"+
				"<a href='#'>оставьте заявку на расчет</a>",
			link: "",
			linktext: "Открыть калькулятор"
		},
		{
			icon: "home",
			title: "Калькулятор энергоэффективности",
			desc: "Расчитайте энергоэффективность объекта" +
				" с помощью нашего калькулятора",
			link: "#",
			linktext: "Открыть калькулятор"
		},
		{
			icon: "analog",
			title: "Подбор аналогов",
			desc: "Первый раз у нас? Просто введите в поиск уже" +
				" знакомые вам наименования" +
				" чтобы подобрать аналог от Feron",
			link: "#",
			linktext: "Начать подбор"
		},
	]


			//- Если нужно отцентровать контент колонки или колонок по центру, то добавляем модификатор "modifier" со значениями "left", "right", либо "all"
			$bannerList = [
				{
					title: "2500",
					subtitle: "наименований бытовой\n<br>"+
					"и профессиональной\n<br>"+
					"светотехники",
					"modifier": "",
					desc: "Приобретайте все в одном\n"+
					"месте — сокращайте издержки\n"+
					"на логистику и коммуникации"
				},
				{
					title: "3500",
					subtitle: "наименований бытовой\n <br>"+
					"и профессиональной\n <br>"+
					"светотехники",
					"modifier": "",
					desc: "Приобретайте все в одном\n"+
					"месте — сокращайте издержки\n"+
					"на логистику и коммуникации"
				},
				{
					title: "Специальные <br>\n"+
					"условия",
					subtitle: "dsdfd",
					"modifier": "",
					desc: "",
					select: [
						{
							nav: "Дистрибьюторам",
							desc: "Дистрибьюторам Регулярно обновляем\n"+
								"товарную базу, поставим\n"+
								"товары под продажу, про-\n"+
								"контролируем соблюдение\n"+
								"МРЦ среди наших партнеров",
							id: "0"
						},
						{
							nav: "Розничным магазинамв",
							desc: "Розничным магазинам Регулярно обновляем\n"+
							"товарную базу, поставим\n"+
							"товары под продажу, про-\n"+
							"контролируем соблюдение\n"+
							"МРЦ среди наших партнеров",
							id: "1"
						},
						{
							nav: "Интернет-магазинам",
							desc: "Интернет-магазинам Регулярно обновляем\n"+
							"товарную базу, поставим\n"+
							"товары под продажу, про-\n"+
							"контролируем соблюдение\n"+
							"МРЦ среди наших партнеров",
							id: "2"
						},
						{
							nav: "Дизайнерам и архитекторам",
							desc: "Дизайнерам и архитекторам Регулярно обновляем\n"+
							"товарную базу, поставим\n"+
							"товары под продажу, про-\n"+
							"контролируем соблюдение\n"+
							"МРЦ среди наших партнеров",
							id: "3"
						},
						{
							nav: "Строителям",
							desc: "Строителям Регулярно обновляем\n"+
							"товарную базу, поставим\n"+
							"товары под продажу, про-\n"+
							"контролируем соблюдение\n"+
							"МРЦ среди наших партнеров",
							id: "4"
						},
					]
				},
				{
				title: "Доверие и качество",
				subtitle: "",
				"modifier": "left",
				desc: "<ul>   " +
				"<li>80% наших партнёров работают <br>с нами более 10 лет</li>" +
				"<li>100% продукции проходит<br> дополнительный контроль <br>в собственной лаборатории</li>" +
				"<li>Рекламации из-за производственного брака - <br>менеее 1%</li>" +
				"</ul>"
				}
			]


	// detailList
	$detailList = [
		{
			//- Слайды
			slides: {
				icons: [
					{
						label: "label-new",
						description: "Новинка"
					},
					{
						label: "label-discount",
						description: "Акция"
					}
				],
				imgs: [
					{
						img: "img/c/item.jpg",
						id: "1"
					},
					{
						img: "Ppjq_BlOukQ",
						id: "2"
					},
					{
						img: "img/c/item.jpg",
						id: "3"
					},
					{
						img: "img/c/item.jpg",
						id: "4"
					},
					{
						img: "img/c/item.jpg",
						id: "5"
					},
				],
			},

			//- Характеристики
			params: {
				vendor_code: {
					name: "Артикул",
					value: "17096",
					units: ""
				},
				color: {
					name: "Цвет",
					value: "Хром",
					units: ""
				},
				color_light: {
					name: "Цвет свечения",
					value: "Дневной",
					units: ""
				},
				length: {
					name: "Длина",
					value: "80",
					units: "мм"
				},
				width: {
					name: "Ширина",
					value: "45",
					units: "мм"
				},
				power: {
					name: "Мощность",
					value: "4,5",
					units: "Вт"
				},
				voltage: {
					name: "Напряжение",
					value: "230",
					units: "Вольт"
				},

				base: {
					name: "Цоколь",
					value: "Е14",
					units: ""
				},
				lamp_type: {
					name: "Тип лампы",
					value: "G45",
					units: ""
				},
				colour_temperature: {
					name: "Цветовая температура",
					value: "/ 3000 / 4200 / 6400",
					units: "К"
				},
				type_of_lamp: {
					name: "Вид лампы",
					value: "Шар",
					units: ""
				},
				color_flask: {
					name: "Цвет колбы",
					value: "Прозрачный",
					units: ""
				},
				filament: {
					name: "Филамент",
					value: "Нет",
					units: ""
				},
				model: {
					name: "Модель",
					value: "LB-40",
					units: ""
				},
				manufacturer: {
					name: "Производитель",
					value: "Feron",
					units: ""
				}
			},
		//- Модификации
		'options': {
			'base': {
				'name': 'Цоколь',
				'modifier': 'wide',
				'type': 'radio',
				'items': [
					{
						'name': 'E14',
						'checked': true,
					},
					{
						'name': 'E27',
						'checked': '',
						'disabled': true
					},
				],
		},
			'power': {
					'name': 'Мощность, Вт',
					'modifier': 'two-row',
					'type': 'radio',
					'items': [
				{
					'name': '3,5',
					'checked': '',
					'disabled': true
				},
				{
					'name': '5',
					'checked': '',
				},
				{
					'name': '7',
					'checked': 'true',
				},
				{
					'name': '9',
					'checked': '',
					'disabled': true
				},
				{
					'name': '12',
					'checked': '',
					'disabled': true
				},
				{
					'name': '14',
					'checked': '',
					'disabled': true
				},
				{
					'name': '15',
					'checked': '',
					'disabled': true
				},
				{
					'name': '17',
					'checked': '',
				},
				{
					'name': '22',
					'checked': '',
				},
				{
					'name': '26',
					'checked': '',
				},
				{
					'name': '30',
					'checked': '',
				},
			],
		},
			'temperature': {
				'name': 'Температура, К',
				'modifier': 'wide_2',
				'type': 'radio',
				'items': [
					{
						'name': '2700',
						'checked': 'true',
					},
					{
						'name': '4200',
						'checked': '',
					},
					{
						'name': '6400',
						'checked': '',
					},
				],
			},
			},
			//- Слайды преимуществ
			"slides-features": [
				{
					icon: "ra",
					tooltip: "Радиус"
				},
				{
					icon: "guarantee",
					tooltip: "Гарантия"
				},
				{
					icon: "puls",
					tooltip: "Пульсация"
				},
				{
					icon: "degree",
					tooltip: "Градус"
				},
				{
					icon: "hours",
					tooltip: "Часы работы"
				},
				{
					icon: "volt",
					tooltip: "Вольт"
				},
				{
					icon: "spray",
					tooltip: "Распыление"
				},
				{
					icon: "moisture",
					tooltip: "Влажность"
				},
			],
			//- Описание товара
			description: {
				text: "Эта светодиодная лампа Philips идеально подходит для ежедневного общего освещения. Она излучает красивый свет и надежно работает — ожидаемые преимущества светодиодов по доступной цене. Эта лампа экономит до 80% электроэнергии по сравнению с обычной лампой. Она окупит свою стоимость и будет эко- номить ваши средства в течение долгих лет. Уменьшите счет по оплате электроэнергии и начните экономить денеж- ные средства уже сейчас. Благодаря долгому сроку службы (до 10 000 часов) можно забыть о постоянной замене ламп и наслаждаться превосходным освещением более 10 лет.",
				video: [
					"Y_fWl4eY2cE",
					"hIVJYatcC0E"
				]
			},
			//- Документация
			documentation: [
				{
					title: "Листовка",
					link: "#"
				},
				{
					title: "Презентация",
					link: "#"
				},
				{
					title: "Сертификаты",
					link: "#"
				},
				{
					title: "Прайс-лист",
					link: "#"
				},
				{
					title: "Паспорт",
					link: "#"
				},
				{
					title: "Прочее",
					link: "#"
				},
			],
			//status 'in-stock', 'not-available', 'for-order'
			//- Блок заказа
			"old-price": "198",
			"price": "129 ₽",
			'modifier': 'in-stock',
			'text': 'В наличии',

		}
	]



	$relatedProductList = [
		{
				'id': '1',
				'name': 'Лампа светодиодная SAFFIT SBA6015 Шар 15W 6400K E27 55012',
				'url': '/product-detail.html',
				'prices':{
					'current': '129',
					'old': '198',
				},
				'img': 	{
						'src' : 'img/c/ci-1.jpg',
						'alt' : 'что-то там',
					},
		},
		{
				'id': '2',
				'name': 'Лампа светодиодная, 6LED(3.5W) 230V E27 2700K золото, LB-71 25281',
				'url': '/product-detail.html',
				'prices':{
					'current': '39',
					'old': '',
				},
				'img':	{
						'src' : 'img/c/ci-2.jpg',
						'alt' : 'что-то там',
					}
		},
		{
				'id': '3',
				'name': 'Лампа светодиодная Feron LB-430 G9 5W 4000K 25637',
				'url': '/product-detail.html',
				'prices':{
					'current': '126',
					'old': '',
				},
				'img': {
						'src' : 'img/c/ci-3.jpg',
						'alt' : 'что-то там',
					}

		},
		{
				'id': '4',
				'name': 'Лампа светодиодная Feron LB-65 E27-E40 50W 6400K 25539',
				'url': '/product-detail.html',
				'prices':{
					'current': '773',
					'old': '',
				},
				'img':{
						'src' : 'img/c/ci-4.jpg',
						'alt' : 'что-то там',
					}
		},
		{
				'id': '5',
				'name': 'Лампа светодиодная Feron LB-65 E27-E40 50W 6400K 25539',
				'url': '/product-detail.html',
				'prices':{
					'current': '773',
					'old': '',
				},
				'img':{
						'src' : 'img/c/ci-4.jpg',
						'alt' : 'что-то там',
					}
		},
	]

	$partnersList = {
		title: "Описание товара",
		description: "Эта светодиодная лампа Philips идеально подходит для ежедневного общего освещения. Она излучает красивый свет и надежно работает — ожидаемые преимущества светодиодов по доступной цене. Эта лампа экономит до 80% электроэнергии по сравнению с обычной лампой. Она окупит свою стоимость и будет эко- номить ваши средства в течение долгих лет. Уменьшите счет по оплате электроэнергии и начните экономить денеж- ные средства уже сейчас. Благодаря долгому сроку службы (до 10 000 часов) можно забыть о постоянной замене ламп и наслаждаться превосходным освещением более 10 лет.",
		documentation: [
				{
					title: "Листовка",
					link: "#",
					icon: "document"
				},
				{
					title: "Презентация",
					link: "#",
					icon: "document"
				},
				{
					title: "Сертификаты",
					link: "#",
					icon: "document"
				},
				{
					title: "Прайс-лист",
					link: "#",
					icon: "document"
				},
				{
					title: "Паспорт",
					link: "#",
					icon: "document"
				},
				{
					title: "Прочее",
					link: "#",
					icon: "document"
				},
			],

		}



