
//- если нужно задать особое поведение/стиль какому-либо элементу используем ключ modifier и в шаблоне прописываем как модификатор
-
	var
		$faqList = [
				{
					'title': 'я бОЮСЬ ПОКУПАТЬ ОНЛАЙН. ВАШИ МАТРАСЫ ГДЕ-ТО МОЖНО ПОСМОТРЕТЬ?',
					'desc': 'Да! У нас есть шоу-рум, расположенный в 2 минутах ходьбы от метро Лубянка. Адрес: Малый Черкасский переулок\n'+
					'д. 2, 6 этаж. Звоните - мы вас встретим. Смотреть, трогать, лежать, прыгать, бегать (при желании) — можно всё!',
				},
				{
					'title': 'Говорят, что нужно регулярно переворачивать матрас. Это правда?',
					'desc': 'И да, и нет. Наши матрасы переворачивать не надо, они не проседают и не теряют форму. Если у вас дешёвый тонкий матрас, то он быстро сминается под весом вашего тела, образуются впадины. Регулярное переворачивание и, как следствие, смена точек давления на матрас — выход из ситуации, но не панацея. Лучше купить качественный матрас и забыть о регулярном перетряхивании всей постели.'
				},
				{
					'title': 'Хороший сон, или мы вернем деньги!',
					'desc': 'У вас есть 100 дней для тестирования матраса. Рекомендуем вам поспать на нём минимум месяц — за это время матрас идеально точно подстроится под ваши анатомические особенности. Если через 30 дней вы всё ещё будете недовольны, мы полностью компенсируем стоимость покупки и заберём матрас. Вы имеете полное право передумать, ведь речь идёт о здоровье. *При возврате товара из других регионов (исключая Москву и область и Санкт-Петербург и область) стоимость доставки товара до Москвы оплачивает Покупатель'
				},
				{
					'title': 'Надо ли сохранять упаковку на эти 100 дней?',
					'desc': 'Нет, спокойно выкидывайте упаковку и пользуйтесь матрасом как обычно. Главное — сохраните чек.'
				},
				{
					'title': 'С какого момента начинается 100-дневный тест?',
					'desc': 'Со дня доставки матраса вам домой.'
				},
				{
					'title': 'Какие есть размеры матраса?',
					'desc': 'На выбор матрасы стандартных размеров (см): 80x190, 80x200, 90x190, 90x200, 100x190, 100x200, 120x190, 120x200, 140x190, 140x200, 160x190, 160x200, 180x190, 180x200, 200x190, 200x200. '
				},
				{
					'title': 'Какие условия доставки? ',
					'desc': 'Бесплатная доставка по Москве, Санкт-Петербургу и области. Производится на следующий день после заказа. Никаких лишних усилий с вашей стороны, вы достаточно потрудились, выбрав матрас.'
				},
				{
					'title': 'А если я живу на 9 этаже и у меня нет лифта?',
					'desc': 'Мы доставляем матрас до двери квартиры, без исключений.'
				},
				{
					'title': 'Есть ли услуга по вывозу старого матраса? ',
					'desc': 'Да. Услуга стоит 1000 рублей. Действует только в день доставки. Мы увезём и утилизируем старый матрас, вам не нужно об этом беспокоиться. Спите спокойно.'
				},
				{
					'title': 'Куда я могу положить матрас? ',
					'desc': 'Наши матрасы можно положить на любую ровную поверхность или ортопедическое основание (ламели).'
				},
				{
					'title': 'Почему матрас столько стоит? ',
					'desc': 'Мы исключили посредников из нашей цепочки производства и реализации, матрас привозят к вам практически с фабрики. Если бы у нас были розничные магазины, то наши матрасы стоили бы в два раза дороже, ведь технология их производства инновационная. До последнего времени такие матрасы были атрибутом роскошной спальни, но мы считаем, что хорошие вещи должны быть доступными. Поэтому сделали всё для максимального снижения стоимости.'
				},
				{
					'title': 'Почему вы продаёте только две модели матраса?',
					'desc': 'Модели Blue Sleep Hybrid и Blue Sleep Concept подходят практически всем. Ваш вес, положение во время сна, температура тела, количество человек в постели — все факторы учтены. Матрасы поддерживают позвоночник в естественном положении, снимая с него нагрузку, при этом вы не «проваливаетесь» в кровать. Если вы спите в постели вдвоем, то вам обеспечен качественный раздельный сон — никаких ям посередине кровати из-за разницы в весе. Матрасы Blue Sleep не проседают в местах наибольшего давления, а возвращаются в практически исходную форму каждое утро.  \n'+
					'\n'+
					'Blue Sleep Hybrid - 24 см, средней жесткости, с пружинами.\n'+
					'\n'+
					'Blue Sleep Concept - 20 см, выше средней жесткости, без пружин.\n'+
					'\n'+
					'Со временем ваши предпочтения могут меняться — Blue Sleep подстроится!'
				},
			]

	$sliderDetailList =[
			{
			
				img: "img/c/slider_3.jpg",
				id: "1"
			},
			{
				img: "img/c/slider_2.jpg",
				id: "2"
			},
			{
				img: "img/c/slider_1.jpg",
				id: "3"
			},
			{
				img: "img/c/slider_4.jpg",
				id: "4"
			},
			{
				img: "img/c/slider_5.jpg",
				id: "5"
			},

		]


	$offersList = [
		{
			"id": "1",
			"data":
				{
					"PRODUCT_ID": "1070",
					"BASE_PRICE": "49 491 р.",
					"OLD_PRICE": "54 990 р.",
					"SIZE": "140 x 200",
					"SIZE_ID": "11",
					"NAME": "Матрас Blue Sleep Concept 180 X 200",
					"GABARITY": "180 X 200 X 24 см.",
					"CREDIT_RENT": "3 000",
					"CREDIT_RENT_IS_SHOW": "TRUE",
					"WEIGHT": "29 кг.",
					"DISCOUNT": "15",
					"DISCOUNT_TYPE": "%",
					"DISCOUNT_PERCENT_TIME": "до 05.06",

					"IMG": "img/c/sets_1.jpg"

				}
			},
			{
			"id": "2",
			"data":
			{
						"PRODUCT_ID": "1071",
						"BASE_PRICE": "29 491 р.",
						"OLD_PRICE": "24 990 р.",
						"SIZE": "80 X 200",
						"SIZE_ID": "12",
						"NAME": "Матрас Blue Sleep Concept 80 X 200",
						"GABARITY": "80 X 200 X 24 см.",
						"CREDIT_RENT": "2 000",
						"WEIGHT": "24 кг.",
						"DISCOUNT": "",
						"DISCOUNT_TYPE": "%",
						"CREDIT_RENT_IS_SHOW": "FALSE",
						"DISCOUNT_PERCENT_TIME": "до 01.06"

					}
			},
			{
			"id": "3",
			"data":
				{
					"PRODUCT_ID": "1073",
					"BASE_PRICE": "39 491 р.",
					"OLD_PRICE": "",
					"SIZE": "120 X 200",
					"SIZE_ID": "13",
					"NAME": "Матрас Blue Sleep Concept 120 X 200",
					"GABARITY": "120 X 200 X 24 см.",
					"CREDIT_RENT": "3 100",
					"WEIGHT": "23 кг.",
					"DISCOUNT": "1500",
					"DISCOUNT_TYPE": "Р",
					"DISCOUNT_PERCENT_TIME": "до 05.09",
					"CREDIT_RENT_IS_SHOW": "TRUE"

				}
			},
		{
		"id": "4",
		"data":
			{
				"PRODUCT_ID": "1074",
				"BASE_PRICE": "44 491 р.",
				"OLD_PRICE": "",
				"SIZE": "140 x 200",
				"SIZE_ID": "14",
				"NAME": "Матрас Blue Sleep Concept 140x200",
				"GABARITY": "140 x 200 X 24 см.",
				"CREDIT_RENT": "1 100",
				"WEIGHT": "21 кг.",
				"DISCOUNT": "",
				"DISCOUNT_TYPE": "Р",
				"CREDIT_RENT_IS_SHOW": "TRUE",
				"DISCOUNT_PERCENT_TIME": "до 01.09"

			}
		},
		{
		"id": "5",
		"data":
			{
				"PRODUCT_ID": "1075",
				"BASE_PRICE": "59 491 р.",
				"OLD_PRICE": "59 990 р.",
				"SIZE": "160 X 200",
				"SIZE_ID": "15",
				"NAME": "Матрас Blue Sleep Concept 160 X 200",
				"GABARITY": "160 X 200 X 22 см.",
				"CREDIT_RENT": "1 200",
				"WEIGHT": "22 кг.",
				"DISCOUNT": "20",
				"DISCOUNT_TYPE": "%",
				"CREDIT_RENT_IS_SHOW": "TRUE",
				"DISCOUNT_PERCENT_TIME": "до 05.01"
			},
		}

	]

	$offersList_2 = [
		{
			"id": "1",
			"data":
				{
					"PRODUCT_ID": "9999",
					"BASE_PRICE": "99 491 р.",
					"OLD_PRICE": "99 990 р.",
					"SIZE": "140 x 200",
					"SIZE_ID": "11",
					"NAME": "Матрас Blue Sleep Concept 180 X 200",
					"GABARITY": "180 X 200 X 24 см.",
					"CREDIT_RENT": "3 000",
					"CREDIT_RENT_IS_SHOW": "TRUE",
					"WEIGHT": "29 кг.",
					"DISCOUNT": "15",
					"DISCOUNT_TYPE": "%",
					"DISCOUNT_PERCENT_TIME": "до 05.06",

					"IMG": "img/c/sets_2.jpg"

				}
			},
			{
			"id": "2",
			"data":
			{
						"PRODUCT_ID": "1071",
						"BASE_PRICE": "9999 р.",
						"OLD_PRICE": "24 990 р.",
						"SIZE": "80 X 200",
						"SIZE_ID": "12",
						"NAME": "Матрас Blue Sleep Concept 80 X 200",
						"GABARITY": "80 X 200 X 24 см.",
						"CREDIT_RENT": "2 000",
						"WEIGHT": "24 кг.",
						"DISCOUNT": "",
						"DISCOUNT_TYPE": "%",
						"CREDIT_RENT_IS_SHOW": "FALSE",
						"DISCOUNT_PERCENT_TIME": "до 01.06"

					}
			},
			{
			"id": "3",
			"data":
				{
					"PRODUCT_ID": "1073",
					"BASE_PRICE": "9999 р.",
					"OLD_PRICE": "",
					"SIZE": "120 X 200",
					"SIZE_ID": "13",
					"NAME": "Матрас Blue Sleep Concept 120 X 200",
					"GABARITY": "120 X 200 X 24 см.",
					"CREDIT_RENT": "3 100",
					"WEIGHT": "23 кг.",
					"DISCOUNT": "1500",
					"DISCOUNT_TYPE": "Р",
					"DISCOUNT_PERCENT_TIME": "до 05.09",
					"CREDIT_RENT_IS_SHOW": "TRUE"

				}
			},
		{
		"id": "4",
		"data":
			{
				"PRODUCT_ID": "1074",
				"BASE_PRICE": "499991 р.",
				"OLD_PRICE": "",
				"SIZE": "140 x 200",
				"SIZE_ID": "14",
				"NAME": "Матрас Blue Sleep Concept 140x200",
				"GABARITY": "140 x 200 X 24 см.",
				"CREDIT_RENT": "1 100",
				"WEIGHT": "21 кг.",
				"DISCOUNT": "",
				"DISCOUNT_TYPE": "Р",
				"CREDIT_RENT_IS_SHOW": "TRUE",
				"DISCOUNT_PERCENT_TIME": "до 01.09"

			}
		},
		{
		"id": "5",
		"data":
			{
				"PRODUCT_ID": "1075",
				"BASE_PRICE": "9999 р.",
				"OLD_PRICE": "9999 р.",
				"SIZE": "160 X 200",
				"SIZE_ID": "15",
				"NAME": "Матрас Blue Sleep Concept 160 X 200",
				"GABARITY": "160 X 200 X 22 см.",
				"CREDIT_RENT": "1 200",
				"WEIGHT": "22 кг.",
				"DISCOUNT": "20",
				"DISCOUNT_TYPE": "%",
				"CREDIT_RENT_IS_SHOW": "TRUE",
				"DISCOUNT_PERCENT_TIME": "до 05.01"
			},
		}

	]

	$otherProductsList = [
			{
			"ID": "OTHER_PRODUCT_1",
			"NAME": "Комплект Good Hybrid",
			"DESC": "Когда вы задумываетесь о смене спального\n"+
			"\tместа, первое — это матрас, второе, что может\n"+
			"\tпригодиться — это чехол для матраса и\n"+
			"\tподушка, поэтому Комплект Good Hybrid хорош\n"+
			"\tво всех смыслах.",
			"IMGS": [
				{
					"src": "img/c/card_info_tabs_1.jpg",
					"alt": ""
				},
				{
					"src": "img/c/card_info_tabs_2.jpg",
					"alt": ""
				},
				{
					"src": "img/c/card_info_tabs_3.jpg",
					"alt": ""
				},
			],
			"COMBINATION_NAME" : "Матрас +\n"+
							"Подушка +\n"+
							"Чехол",
			"COMBINATION": "Состав комплекта: </br>\n"+
			"Гибридный матрас BlueSleep 160х200 </br>\n"+
			"Чехол на матрас 160x200 </br>\n"+
			"Подушка в подушке BlueSleep\n",
			"BASE_PRICE": "46 754 р.",
			"OLD_PRICE": "60 720 р.",
			"PROFIT": "13 966 р.",
			"SAVING": "25 %"

			},
			{
			"ID": "OTHER_PRODUCT_2",
			"NAME": "Комплект Good Hybrid2",
			"DESC": "Когда  другое описание",
			"IMGS": [
				{
					"src": "img/c/card_info_tabs_1.jpg",
					"alt": ""
				},
				{
					"src": "img/c/card_info_tabs_2.jpg",
					"alt": ""
				},
			],
			"COMBINATION_NAME" : "Матрас + Подушка",
			"COMBINATION": "Состав комплекта: </br>\n"+
			"Гибридный матрас BlueSleep 170х200 </br>\n"+
			"Чехол на матрас 160x200 </br>\n"+
			"Подушка в подушке BlueSleep\n",
			"BASE_PRICE": "48 754 р.",
			"OLD_PRICE": "60 720 р.",
			"PROFIT": "18 966 р.",

			},
			{
			"ID": "OTHER_PRODUCT_3",
			"COMBINATION_NAME" : "Только матрас",
			},
		]

	$basketList =	{
		"countProductInBasket": "12",
		"mindboxProductList" : [
				{
					"count": "2",
					"price": "12 990",
					"product": {
						"ids":	{
							"bluesleepRu": "831"
						},
						"name": "Одеяло Blue Sleep Duvet 205x140",
						"pictureUrl": "img/c/basket_1.jpg",
						"price": "12 990",
						"url": "https://bluesleep.ru/catalog/odeyalo/odeyalo_duvet/"
					}
				},
				{
					"count": "1",
					"price": "66 495",
					"product": {
						"ids":	{
							"bluesleepRu": "836"
						},
						"name": "Комплект Perfect Hybrid 160",
						"pictureUrl": "img/c/basket_2.jpg",
						"price": "66 495",
						"url": "https://bluesleep.ru/catalog/pillow/podushka_anatomicheskay/"
					}
				},
				{
					"count": "1",
					"price": "66 498",
					"product": {
						"ids":	{
							"bluesleepRu": "836"
						},
						"name": "Комплект Perfect Hybrid 160",
						"pictureUrl": "img/c/basket_3.jpg",
						"price": "66 495",
						"url": "https://bluesleep.ru/catalog/pillow/podushka_anatomicheskay/"
					}
				},

			]
	}


	$setsList = [
		{
			"title" : "#все комплекты",
			"ID": "sets_1",
			"count": "2"
		},
		{
			"title" : "#самые выгодные сверху",
			"ID": "sets_8",
			"count": "2"
		},
		{
			"title" : "#с кроватям",
			"ID": "sets_2",
			"count": "3"
		},
		{
			"title" : "#с одеялом",
			"ID": "sets_3",
			"count": "1"
		},
		{
			"title" : "#с подушкой",
			"ID": "sets_4",
			"count": "2"
		},
		{
			"title" : "#3 вещи",
			"ID": "sets_5",
			"count": "3"
		}
	]

	$partnersList = {
	"MAP_CENTER": [
	55.75370903771494,
	37.61981338262558
	],
	"CURRENT_CITY": 4,
	"CITY": {
	"4": {
	"NAME": "Адреса шоу-румов в Москве",
	"NAME_DROPDOWN": "Москва",
	"ELEMENTS": [
	{
	"ID": "826",
	"NAME": "Blue Sleep",
	"SUBTITLE": "Hybrid+Concept",
	"ADRESS": "г. Москва, Малый Черкасский переулок, дом 2, Cabinet Lounge, 6 этаж, шоу-рум 7 ",
	"PHONE": "8-495-127-86-15",
	"WORK_TIME": "пн - пт 10-20, cб - вс  11-18",
	"CORDS": [
	"55.758321371448",
	"37.625950042328"
	]
	},
	{
	"ID": "780",
	"NAME": "Orthosleep",
	"SUBTITLE": "Hybrid+Concept",
	"ADRESS": "г. Москва, ул. Профсоюзная, д.56 Третий этаж, линия 3Ж, рядом с WC",
	"PHONE": "8-916-775-65-55",
	"WORK_TIME": "10-21",
	"CORDS": [
	"55.670407846831",
	"37.552349471942"
	]
	},
	{
	"ID": "825",
	"NAME": "Orthosleep",
	"SUBTITLE": "Hybrid",
	"ADRESS": "г. Москва, Киевское шоссе, 22-й километр, дв4с1кА, БЦ Румянцево, Корпус А, вход №3, 2 этаж",
	"PHONE": "8-925-465-66-18",
	"WORK_TIME": "10-21",
	"CORDS": [
	"55.633903446315",
	"37.440125277771"
	]
	},
	{
	"ID": "980",
	"NAME": "Шатура Dream Store",
	"SUBTITLE": "Hybrid",
	"ADRESS": "г. Москва, ул. Кировоградская д. 11, к.1  ТЦ 'Армада' 3 этаж.",
	"PHONE": "т. 8 (495) 545-37-00 доб.5348",
	"WORK_TIME": "10-20",
	"CORDS": [
	"55.614476558052",
	"37.606900949738"
	]
	},
	{
	"ID": "819",
	"NAME": "InMyRoom",
	"SUBTITLE": "Hybrid+Concept",
	"ADRESS": "г. Москва, Ломоносовский проспект, д. 29, корп.1",
	"PHONE": "8-495-286-70-10, 8-800-505-48-69",
	"WORK_TIME": "9-20",
	"CORDS": [
	"55.70307985493",
	"37.516257703705"
	]
	},
	{
	"ID": "1245",
	"NAME": "2Shades",
	"SUBTITLE": "Hybrid+Concept",
	"ADRESS": "ул.Нижняя Сыромятническая, д.10, стр.9 Центр дизайна Artplay",
	"PHONE": "8-495-414-31-31",
	"WORK_TIME": "10-21",
	"CORDS": [
	"55.753222311217",
	"37.666995133591"
	]
	},
	{
	"ID": "866",
	"NAME": "Rockstar Home",
	"SUBTITLE": "Hybrid+Concept",
	"ADRESS": "г. Москва, Нахимовский проспект, дом 24 , Выставочный Центр МебельЭкспо, 3 подъезд, павильон П 6, корнер Rockstar Home",
	"PHONE": "8-495-971-85-00",
	"WORK_TIME": "11-20",
	"CORDS": [
	"55.671911929992",
	"37.584398755295"
	]
	},
	{
	"ID": "865",
	"NAME": "Orange Mebel",
	"SUBTITLE": "Hybrid",
	"ADRESS": "г. Москва, ул. Коцюбинского, дом 4 , шоу-рум Orange Mebel",
	"PHONE": "8-925-039-57-57",
	"WORK_TIME": "11-20",
	"CORDS": [
	"55.728614786861",
	"37.431095525131"
	]
	},
	{
	"ID": "828",
	"NAME": "PushaStore",
	"SUBTITLE": "Hybrid",
	"ADRESS": "Московская область, Минское ш. 2 км от МКАД, Луговая ул., д. 1, 3 этаж, ТРИ КИТА",
	"PHONE": "8-495 118-37-13, 8-916-818-16-27",
	"WORK_TIME": "10-21",
	"CORDS": [
	"55.702998027666",
	"37.355633182127"
	]
	},
	{
	"ID": "781",
	"NAME": "Homeme",
	"SUBTITLE": "Hybrid",
	"ADRESS": "г. Москва, ТЦ 'Строительный комплекс', Москва, м. Семеновская, ул. Ткацкая, д.5, с.4, 2 этаж",
	"PHONE": "8-495-663-21-07",
	"WORK_TIME": "10-21",
	"CORDS": [
	"55.786381523564",
	"37.722705246033"
	]
	}
	]
	},
	"5": {
	"NAME": "Адреса шоу-румов в Санкт-Петербурге",
	"NAME_DROPDOWN": "Санкт-Петербург"
	},
	"19": {
	"NAME": "Адреса шоу-румов в Краснодаре",
	"NAME_DROPDOWN": "Краснодар"
	},
	"20": {
	"NAME": "Адреса шоу-румов во Владивостоке",
	"NAME_DROPDOWN": "Владивосток"
	}
	}
	}


	$aboutListList = [
		{
			"img": "img/c/main_category_1.jpg",
			"title": "Марк Хамильфорд</br>Сооснователь/Председатель правления",
			"alt": "Имя 1",
			"desc": "Занимается бизнесом в России более 25 лет. Основатель компаний: Intermark Real Estate Agency, Impress Media, Savills Residential Agency и Auto Leasing business.",
		},
		{
			"img": "img/c/main_category_2.jpg",
			"title": "Гоша Семёнов</br>Генеральный директор",
			"alt": "Имя 2",
			"desc": "8 лет занимается бизнесом\n"+"в сфере розничных продаж\n"+	"и e-commerce. Основатель\n"+"пяти коммерческих онлайн-платформ люксовых товаров, включая iLux.ru",
		},
		{
			"img": "img/c/main_category_3.jpg",
			"title": "Стивен Инско </br> Сооснователь/Технический директор",
			"alt": "Имя 1",
			"desc": "Работает с интернет- ехнологиями более 30 лет, занимается недвижимостью. Основатель Idinaidi.ru",
		},
		{
			"img": "img/c/reviews-slider_1.png",
			"title": "Татьяна Инско</br> Сооснователь/Исполнительный директор",
			"alt": "Имя 3",
			"desc": "11 лет занимается развитием бизнеса и юридической деятельностью. Директор по развитию бизнеса порталов Idinaidi.ru и Komesto.ru.",
		},
		{
			"img": "img/c/reviews-slider_2.png",
			"title": "Дмитрий Гуржий </br>Сооснователь",
			"alt": "Имя 4",
			"desc": "Занимается бизнесом в России более 30 лет. Основатель брендов аксессуаров: Gourji, Portobello, Baramba и eBazaar. Занимался дистрибуцией товаров люксовых марок: Bally, Dunhill, Montegrappa, Piquadro, Caran d’Ache и других.",
		}
	]




	$aboutTeamList = [
		{
			"img": "img/c/main_category_1.jpg",
			"title": "Марк Хамильфорд</br>Сооснователь/Председатель правления",
		"alt": "Имя 1",
			"desc": "Занимается бизнесом в России более 25 лет. Основатель компаний: Intermark Real Estate Agency, Impress Media, Savills Residential Agency и Auto Leasing business.",
		},
		{
			"img": "img/c/main_category_2.jpg",
			"title": "Гоша Семёнов</br>Генеральный директор",
			"alt": "Имя 1",
			"desc": "8 лет занимается бизнесом\n"+"в сфере розничных продаж\n"+	"и e-commerce. Основатель\n"+"пяти коммерческих онлайн-платформ люксовых товаров, включая iLux.ru",
		},
		{
			"img": "img/c/main_category_3.jpg",
			"title": "Стивен Инско </br> Сооснователь/Технический директор",
			"alt": "Имя 1",
			"desc": "Работает с интернет- ехнологиями более 30 лет, занимается недвижимостью. Основатель Idinaidi.ru",
		},
		{
			"img": "img/c/reviews-slider_1.png",
			"title": "Татьяна Инско</br> Сооснователь/Исполнительный директор",
			"alt": "Имя 1",
			"desc": "11 лет занимается развитием бизнеса и юридической деятельностью. Директор по развитию бизнеса порталов Idinaidi.ru и Komesto.ru.",
		},
		{
			"img": "img/c/reviews-slider_2.png",
			"title": "Дмитрий Гуржий </br>Сооснователь",
			"alt": "Имя 1",
			"desc": "Занимается бизнесом в России более 30 лет. Основатель брендов аксессуаров: Gourji, Portobello, Baramba и eBazaar. Занимался дистрибуцией товаров люксовых марок: Bally, Dunhill, Montegrappa, Piquadro, Caran d’Ache и других.",
		},
		{
			"img": "img/c/main_category_2.jpg",
			"title": "Гоша Семёнов</br>Генеральный директор",
			"alt": "Имя 1",
			"desc": "8 лет занимается бизнесом\n"+"в сфере розничных продаж\n"+	"и e-commerce. Основатель\n"+"пяти коммерческих онлайн-платформ люксовых товаров, включая iLux.ru",
		},
		{
			"img": "img/c/main_category_3.jpg",
			"title": "Стивен Инско </br> Сооснователь/Технический директор",
			"alt": "Имя 1",
			"desc": "Работает с интернет- ехнологиями более 30 лет, занимается недвижимостью. Основатель Idinaidi.ru",
		},
		{
			"img": "img/c/reviews-slider_1.png",
			"title": "Татьяна Инско</br> Сооснователь/Исполнительный директор",
			"alt": "Имя 1",
			"desc": "11 лет занимается развитием бизнеса и юридической деятельностью. Директор по развитию бизнеса порталов Idinaidi.ru и Komesto.ru.",
		},
		{
			"img": "img/c/reviews-slider_2.png",
			"title": "Дмитрий Гуржий </br>Сооснователь",
			"alt": "Имя 2",
			"desc": "Занимается бизнесом в России более 30 лет. Основатель брендов аксессуаров: Gourji, Portobello, Baramba и eBazaar. Занимался дистрибуцией товаров люксовых марок: Bally, Dunhill, Montegrappa, Piquadro, Caran d’Ache и других.",
		}
	]

	var $mainSliderList = [
		{
			"PICTURE": "img/c/main-slider-d.jpg",
			"PICTURE_LAPTOP": "img/c/main-slider-l.jpg",
			"PICTURE_MOBILE": "img/c/main-slider-p.jpg",
			"LINK": "/detail.html",
			"INFO_LINK_LABEL": "Выбрать матрас",
			"TITLE": "Приходите<br> полежать \r\n",
			"SUB_TITLE": "Даём 100 дней на тест матраса:<br>\r\n"+
			"не понравится – вернём деньги!",
			"TITLE_CSS": "",
			"SUB_TITLE_CSS": "",
			"BUTTON_CSS": "",
			"BUTTON_POSITION": "",
			"BUTTON_HOVER_CSS": "",
			"BACKGROUND_COLOR": "",
		},
		{
			"PICTURE": "img/c/main-slider-d.jpg",
			"PICTURE_LAPTOP": "img/c/main-slider-l.jpg",
			"PICTURE_MOBILE": "img/c/main-slider-p.jpg",
			"LINK": "/detail.html",
			"INFO_LINK_LABEL": "Выбрать матрас",
			"TITLE": "Здоровый сон или вернём деньги!",
			"SUB_TITLE": "Всего три модели<br>ортопедических матрасов –<br>найдите свою зону комфорта!",
			"TITLE_CSS": "color: red ; font-size: 40px; text-align: right;",
			"SUB_TITLE_CSS": "color: #000; font-size: 12px; text-align: right;",
			"BUTTON_POSITION": "text-align:right;",
			"BUTTON_CSS": "background: green;",
			"BUTTON_HOVER_CSS": "background: grey;",
			"BACKGROUND_COLOR": "yellow;",
		},
		{
			"PICTURE": "img/c/main-slider-d.jpg",
			"PICTURE_LAPTOP": "img/c/main-slider-l.jpg",
			"PICTURE_MOBILE": "img/c/main-slider-p.jpg",
			"LINK": "/detail.html",
			"INFO_LINK_LABEL": "",
			"TITLE": "Тестовый",
			"SUB_TITLE": "Всего три модели –<br>найдите свою зону комфорта!",
			"TITLE_CSS": "color: blue ; font-size: 25px; text-align: right;",
			"SUB_TITLE_CSS": "color: #000; font-size: 18px; text-align: right;",
			"BUTTON_POSITION": "",
			"BUTTON_CSS": "background: yellow;",
			"BUTTON_HOVER_CSS": "background: yellow;",
			"BACKGROUND_COLOR": "background: yellow;",
		},
		{
			"PICTURE": "img/c/main-slider-d.jpg",
			"PICTURE_LAPTOP": "img/c/main-slider-l.jpg",
			"PICTURE_MOBILE": "img/c/main-slider-p.jpg",
			"LINK": "/detail.html",
			"INFO_LINK_LABEL": "",
			"TITLE": "",
			"SUB_TITLE": "",
			"TITLE_CSS": "color: red ; font-size: 25px; text-align: right;",
			"SUB_TITLE_CSS": "color: #000; font-size: 18px; text-align: right;",
			"BUTTON_POSITION": "",
			"BUTTON_CSS": "background: yellow;",
			"BUTTON_HOVER_CSS": "background: yellow;",
			"BACKGROUND_COLOR": "blue;",
		},
	]

	$timerList = {
		"days" : "10",
		"hours": "10",
		"minutes":"41",
		"seconds": "10",
		"words": {
			"days": "день",
			"hours": "часов",
			"minutes":"минута",
			"seconds":"секунд",
		}
	}


