.detail {
  margin-bottom: 100px;


  &__wrap {
    margin: 0 -70px;
    display: flex;
    padding-top: 90px;
    max-width: 100%;
    margin-bottom: 100px;
    @include desktop {
      margin: 0 -20px 100px;
    }
    @include laptop {
        flex-wrap: wrap;
    }
    @include phones {
      padding-top: 0;
      margin: 0;
      margin-bottom: 40px;
    }


  }
  &__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: 300;
    font-family: 'CoText-Light', sans-serif;
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    @include phones {
      font-size: 11px;
      padding: 0 15px;
    }
  }
  &__container {
    @include phones {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__column {
    margin: 0 70px;



    &_pos_1 {
      //flex-basis: calc(56% - 70px);
      width: calc(56% - 70px);
      @include phones {
        margin-right: 0;
        margin-left: 0;
      }
      * {
        min-height: 1px;
        min-width: 1px;
      }
    }
    &_pos_2 {
      width: calc(44% - 70px);
      //flex-basis:calc(44% - 140px);
      flex-grow: 10000;
      min-width: 450px;
      flex-shrink: 0;
      @include phones {
        padding-left: 15px;
        padding-right: 15px;
      }
    
    }
    @include desktop {
      width: calc(50% - 20px);
      margin: 0 20px;
    }
    @include laptop {
      width: calc(100% - 20px);
      flex-shrink: 1;
      flex-basis: auto;
      min-width: auto;
    }
    @include phones {
      margin: 0;
      width:100% ;
    }

  }
  &__title {
    color: #005eff;
    font-size: 30px;
    letter-spacing: -0.38px;
    text-align: center;
      margin-bottom: 40px;
    font-weight: 700;
    font-family: "CoHeadlineCorp-Regular", "CoHeadline-Bold", sans-serif;

    //&_mod_font {
    //
    //}
    @include phones {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  &__advantages {
    margin-bottom: 70px;
    @include phones {
      margin-bottom: 40px;
    }
  }

}



