.order-success {
  &__wrap {
    display: flex;
    justify-content: center;
    padding: 20% 0 15%;
    @include laptop {
      padding: 15% 0 10%;
    }
    @include phones {
      padding: 10% 0 8%;
    }
  }
  &__img-box {
    overflow: hidden;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    @include phones {
      margin-bottom: 40px;
    }
  }
  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    @include phones {
        max-width: 180px;
    }
  }
  &__text {
    text-align: center;
    color: #000000;
    font-size: 16px;
    margin-bottom: 140px;
    @include laptop {
      margin-bottom: 100px;
    }
    @include phones {
      margin-bottom: 70px;
      font-size: 11px;
    }
  }
  &__bottom {
    text-align: center;
  }
  &__link {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    @include phones {
      font-size: 11px;
    }
    &:hover {
      color: #005eff;;
    }
  }

}