extend include/template_base

include include/blocks/basket-form
include include/blocks/basket-payment
include include/blocks/basket-list
include include/blocks/basket-sum
include include/blocks/basket-advantages




block variables
	- var title = 'Корзина';

block content
	.basket
		.basket__container.container
			.basket__wrap
				.basket__column.basket__column_pos_1
					+basket-form()()
					+basket-payment()()
				.basket__column.basket__column_pos_2(data-promo-outer-wrap)
					.basket__content
						+basket-list()()
						+promo()(class="basket__promo")
						+basket-sum()()
						+promo-part()(data-promo-part class="basket__promo-part")
						+basket-advantages()(class="basket__basket-advantages")
						.basket__column-bottom
							a.basket__link(href="#") Назад к корзине
