extend include/template_base

include include/blocks/slider-derail
include include/blocks/card-info
include include/blocks/advantages-detail
include include/blocks/characteristics

block variables
	- var title = 'Детальная страница';

block content
	.detail
		.detail__container.container
			.detail__wrap
				.detail__column.detail__column_pos_1
					+slider-detail()()
				.detail__column.detail__column_pos_2
					+card-info()()
			.detail__title Преимущества матраса
			+advantages-detail()(class="detail__advantages")
			+characteristics()()

	// список ТП
	- var $offersListJson = JSON.stringify($offersList)
	script var offersList = "#{$offersListJson}".replace(/&quot;/g, '"');

