extend include/template_base

include include/blocks/main-banner
include include/blocks/choice
include include/blocks/advantages
include include/blocks/main-category
include include/blocks/blogers
include include/blocks/brands
include include/blocks/convenience
include include/blocks/faq
include include/blocks/reviews-main
include include/blocks/main-slider


block variables
	- var title = 'Главная';

block content
	+main-slider()()
	+main-banner(class="main-banner__indent")
	+choice()
	+advantages()()
	+main-category()()
	+blogers()()
	+brands()
	+convenience()()
	+reviews-main()()
	+faq()(class="faq_indent_top faq_indent_bottom")