extend include/template_base


block variables
	- var title = '404';

block content
	.page-404
		.page-404__container.container
			.page-404__wrap
				.page-404__content
					.page-404__inner-wrap
						.page-404__img-box
							img.page-404__img(src="img/404.svg", alt='')
						.page-404__title 404
						.page-404__subtitle Страница не найдена
						a.page-404__btn.btn-other.btn-other_bg_blue.btn-other_bordered(href="/") Вернуться на главную

