extend include/template_base

include include/blocks/sidebar
include include/blocks/faq

block variables
	-
		var title = 'Спасибо за заказ';


block content
	.static-content
		.static-content__container.container
			.static-content__wrap
				.static-content__column.static-content__column_pos_1
					+sidebar()()
				.static-content__column.static-content__column_pos_2
					.static-content__head
						.static-content__main-title.all-page-title Где купить матрас?
					.static-content__content.html-area
						ul
							li  тест
							li тест
							li тест
							li тест
						h3 Контактная информация:
						p
							a(href='tel:+74951508638') 8 (495) 150-86-38
						p
							| E-mail:
							a(href='mailto:info@bluesleep.ru') info@bluesleep.ru
						p Шоу-рум: Москва, Малый Черкасский переулок, дом 2, 6 этаж.
						p
							strong Режим работы:
						p
							| пн - пт 10.00 - 20.00
							br
							| В будни вход с Малого Черкасского переулка, между Мандарин баром и Кофеманией
						p cб - вс 11.00 -18.00
						p
							| В выходные и праздничные дни посещение шоу-рума по предварительному звонку за час. Вход с Новой площади, слева от салона красоты Celebrity.
						h3 Как к нам пройти
						p
							strong
								em От метро Лубянка (в будни)
						p
							| Выход в город на площади: Лубянская, Новая, к Никольской улице, Б. и М. Черкасским переулкам.
						p
							| После стеклянных дверей направо до первого переулка.
							| Ориентир кафе «Гранд Кофемания» - перед входом в кафе повернуть направо и пройти прямо около 30 метров до входа в «Мандарин бар».
							| Слева от входа в «Мандарин бар» будут массивные двери с двумя фонарями и вывеска «Евразийская патентная организация».
							| Далее на лифте на 6 этаж. На этаже действует пропускная система. Пожалуйста, позвоните по номеру 8-495-150-86-38, чтобы вас встретили.
						iframe(width='560', height='315', src='https://www.youtube.com/embed/dmOEPtqiG0k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
						p
							strong
								em От метро Лубянка (выходные и праздничные дни)
						p
							| Выход в город на площади: Лубянская, Новая, к Никольской улице, Б. и М. Черкасским переулкам.
						p
							| После стеклянных дверей направо.
							| Не сворачивая на Малый Черкасский переулок, пройдите около 100 метров прямо по Новой площади.
							| Пройдите мимо входа в кафе «Гранд Кофемания». Далее будет вход в салон красоты Celebrity.
							| Слева от входа в салон красоты будет арка с серыми воротами. Нажмите на кнопку вызова охраны, чтобы вам открыли дверь.
							| Во внутреннем дворике вам нужно здание справа и очень маленькая серая дверь.
							| Далее на лифте на 6 этаж. На этаже действует пропускная система.
							| Пожалуйста, позвоните по номеру 8-495-150-86-38, чтобы вас встретили.
						iframe(width='560', height='315', src='https://www.youtube.com/embed/NGjBNaLOOoc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
						p
							strong
								em От метро Китай- город (в будни)
						p Выход в город на улицу Ильинка и Новую площадь
						p
							| После стеклянных дверей налево.
							| Далее по лестнице направо.
							| Пройдите около 300 метров прямо по Новой площади.
							| Сверните налево на Малый Черкасский переулок сразу после входа в кафе “Гранд Кофемания”.
							| Пройдите прямо около 30 метров до входа в «Мандарин бар».
							| Слева от входа в «Мандарин бар» будут массивные двери с двумя фонарями и вывеска «Евразийская патентная организация».
							| Далее на лифте на 6 этаж. На этаже действует пропускная система.
							| Пожалуйста, позвоните по номеру 8-495-150-86-38, чтобы вас встретили.
						p
							strong
								em От метро Китай- город  (выходные и праздничные дни)
						p Выход в город на улицу Ильинка и Новую площадь
						p
							| После стеклянных дверей налево.
							| Далее по лестнице направо.
							| Пройдите около 300 метров прямо по Новой площади, не сворачивая на Малый Черкасский переулок.
							| Слева от вас будет салон красоты Celebrity. Слева от входа в салон красоты будет арка с серыми воротами.
							| Нажмите на кнопку вызова охраны, чтобы вам открыли дверь.
							| Во внутреннем дворике вам нужно здание справа и очень маленькая серая дверь. Далее на лифте на 6 этаж.
							| На этаже действует пропускная система. Пожалуйста, позвоните по номеру 8-495-150-86-38, чтобы вас встретили.
						img(src='img/c/contacts_1.png', alt='матрас, blue sleep кровать', title='матрас blue sleep кровать')
						table(border='1')
							caption Таблица тестовая
							tbody
								tr
									th Россия
									th Великобритания
									th Европа
									th Длина ступни, см
								tr
									td 34,5
									td 3,5
									td 36
									td 23
								tr
									td 35,5
									td 4
									td 36⅔
									td 23–23,5
								tr
									td 36
									td 4,5
									td 37⅓
									td 23,5
								tr
									td 36,5
									td 5
									td 38
									td 24
								tr
									td 37
									td 5,5
									td 38⅔
									td 24,5
								tr
									td 38
									td 6
									td 39⅓
									td 25
								tr
									td 38,5
									td 6,5
									td 40
									td 25,5
								tr
									td 39
									td 7
									td 40⅔
									td 25,5–26
								tr
									td 40
									td 7,5
									td 41⅓
									td 26
								tr
									td 40,5
									td 8
									td 42
									td 26,5
								tr
									td 41
									td 8,5
									td 42⅔
									td 27
								tr
									td 42
									td 9
									td 43⅓
									td 27,5
								tr
									td 43
									td 9,5
									td 44
									td 28
								tr
									td 43,5
									td 10
									td 44⅔
									td 28–28,5
								tr
									td 44
									td 10,5
									td 45⅓
									td 28,5–29
								tr
									td 44,5
									td 11
									td 46
									td 29
								tr
									td 45
									td 11,5
									td 46⅔
									td 29,5
								tr
									td 46
									td 12
									td 47⅓
									td 30
								tr
									td 46,5
									td 12,5
									td 48
									td 30,5
								tr
									td 47
									td 13
									td 48⅔
									td 31
								tr
									td 48
									td 13,5
									td 49⅓
									td 31,5

			+faq()(class="faq_indent_top faq_indent_bottom")

