.basket-order#basket-order
	.basket-order__top
		.basket-order__number
			| №
			span  13231-45
			|	от
			span 27.09.2017
	.basket-order__wrap
		.basket-order__row.basket-order__row_head
			.basket-order__column.basket-order__column_size_1
				.basket-order__inner-title Артикул
			.basket-order__column.basket-order__column_size_2
				.basket-order__inner-title Наименование
			.basket-order__column.basket-order__column_size_3
			.basket-order__column.basket-order__column_size_4
				.basket-order__inner-title Стоимость
			.basket-order__column.basket-order__column_size_5
				.basket-order__inner-title Количество
			.basket-order__column.basket-order__column_size_6
				.basket-order__inner-title Партнерская	скидка
			.basket-order__column.basket-order__column_size_7
				.basket-order__inner-title
					// Добавил br, отступами такого переноса не добиться
					|	Цена
					br
					|	без скидки
			.basket-order__column.basket-order__column_size_8
				.basket-order__inner-title
					|	Цена
					br
					|	со скидкой
			.basket-order__column.basket-order__column_size_9
		.basket-order__row
			.basket-order__column.basket-order__column_size_1
				.basket-order__inner-content
					.basket-order__text 12197
			.basket-order__column.basket-order__column_size_2
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1.basket-order__text_dots Лампа светодиодная Feron LB-40 Шарик...
			.basket-order__column.basket-order__column_size_3
				.basket-order__inner-content
					+icon('label-new', 'svg-icon_label-normal svg-icon_label_size_min ')
			.basket-order__column.basket-order__column_size_4
				.basket-order__inner-content
					.basket-order__text 32,00 ₽
			.basket-order__column.basket-order__column_size_5
				.basket-order__inner-content
					.counter-amount.js--counter-amount.basket-order__counter-amount
						button.counter-amount__btn.counter-amount__btn_minus(data-counter-amount-btn="minus").basket-order__counter-amount-btn
							+icon('minus', 'svg-icon_minus basket-order__svg-icon')
						input.counter-amount__value( value="1").js--counter-amount-value.basket-order__counter-amount-value
						button.counter-amount__btn.counter-amount__btn_plus(data-counter-amount-btn="plus").basket-order__counter-amount-btn
							+icon('plus', 'svg-icon_plus basket-order__svg-icon')
			.basket-order__column.basket-order__column_size_6
				.basket-order__inner-content
					.basket-order__text 25%
			.basket-order__column.basket-order__column_size_7
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1 1152,00 ₽
			.basket-order__column.basket-order__column_size_8
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1 864,00 ₽
			.basket-order__column.basket-order__column_size_9
					.basket-order__remove
						+icon('close_2', 'svg-icon_close_2 basket-order__svg-icon')
		.basket-order__row
			.basket-order__column.basket-order__column_size_1
				.basket-order__inner-content
					.basket-order__text 12197
			.basket-order__column.basket-order__column_size_2
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1.basket-order__text_dots Лампа светодиодная Feron LB-40 Шарик...
			.basket-order__column.basket-order__column_size_3
				.basket-order__inner-content
					+icon('label-new', 'svg-icon_label-normal svg-icon_label_size_min ')
			.basket-order__column.basket-order__column_size_4
				.basket-order__inner-content
					.basket-order__text 32,00 ₽
			.basket-order__column.basket-order__column_size_5
				.basket-order__inner-content
					.counter-amount.js--counter-amount.basket-order__counter-amount
						button.counter-amount__btn.counter-amount__btn_minus(data-counter-amount-btn="minus").basket-order__counter-amount-btn
							+icon('minus', 'svg-icon_minus basket-order__svg-icon')
						input.counter-amount__value( value="1").js--counter-amount-value.basket-order__counter-amount-value
						button.counter-amount__btn.counter-amount__btn_plus(data-counter-amount-btn="plus").basket-order__counter-amount-btn
							+icon('plus', 'svg-icon_plus basket-order__svg-icon')
			.basket-order__column.basket-order__column_size_6
				.basket-order__inner-content
					.basket-order__text 25%
			.basket-order__column.basket-order__column_size_7
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1 1152,00 ₽
			.basket-order__column.basket-order__column_size_8
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1 864,00 ₽
			.basket-order__column.basket-order__column_size_9
					.basket-order__remove
						+icon('close_2', 'svg-icon_close_2 basket-order__svg-icon')
		.basket-order__row
			.basket-order__column.basket-order__column_size_1
				.basket-order__inner-content
					.basket-order__text 12197
			.basket-order__column.basket-order__column_size_2
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1.basket-order__text_dots Лампа светодиодная Feron LB-40 Шарик...
			.basket-order__column.basket-order__column_size_3
				.basket-order__inner-content
					+icon('label-new', 'svg-icon_label-normal svg-icon_label_size_min ')
			.basket-order__column.basket-order__column_size_4
				.basket-order__inner-content
					.basket-order__text 32,00 ₽
			.basket-order__column.basket-order__column_size_5
				.basket-order__inner-content
					.counter-amount.js--counter-amount.basket-order__counter-amount
						button.counter-amount__btn.counter-amount__btn_minus(data-counter-amount-btn="minus").basket-order__counter-amount-btn
							+icon('minus', 'svg-icon_minus basket-order__svg-icon')
						input.counter-amount__value( value="1").js--counter-amount-value.basket-order__counter-amount-value
						button.counter-amount__btn.counter-amount__btn_plus(data-counter-amount-btn="plus").basket-order__counter-amount-btn
							+icon('plus', 'svg-icon_plus basket-order__svg-icon')
			.basket-order__column.basket-order__column_size_6
				.basket-order__inner-content
					.basket-order__text 25%
			.basket-order__column.basket-order__column_size_7
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1 1152,00 ₽
			.basket-order__column.basket-order__column_size_8
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1 864,00 ₽
			.basket-order__column.basket-order__column_size_9
					.basket-order__remove
						+icon('close_2', 'svg-icon_close_2 basket-order__svg-icon')
		.basket-order__row
			.basket-order__column.basket-order__column_size_1
				.basket-order__inner-content
					.basket-order__text 12197
			.basket-order__column.basket-order__column_size_2
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1.basket-order__text_dots Лампа светодиодная Feron LB-40 Шарик...
			.basket-order__column.basket-order__column_size_3
				.basket-order__inner-content
					+icon('label-new', 'svg-icon_label-normal svg-icon_label_size_min ')
			.basket-order__column.basket-order__column_size_4
				.basket-order__inner-content
					.basket-order__text 32,00 ₽
			.basket-order__column.basket-order__column_size_5
				.basket-order__inner-content
					.counter-amount.js--counter-amount.basket-order__counter-amount
						button.counter-amount__btn.counter-amount__btn_minus(data-counter-amount-btn="minus").basket-order__counter-amount-btn
							+icon('minus', 'svg-icon_minus basket-order__svg-icon')
						input.counter-amount__value( value="1").js--counter-amount-value.basket-order__counter-amount-value
						button.counter-amount__btn.counter-amount__btn_plus(data-counter-amount-btn="plus").basket-order__counter-amount-btn
							+icon('plus', 'svg-icon_plus basket-order__svg-icon')
			.basket-order__column.basket-order__column_size_6
				.basket-order__inner-content
					.basket-order__text 25%
			.basket-order__column.basket-order__column_size_7
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1 1152,00 ₽
			.basket-order__column.basket-order__column_size_8
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1 864,00 ₽
			.basket-order__column.basket-order__column_size_9
					.basket-order__remove
						+icon('close_2', 'svg-icon_close_2 basket-order__svg-icon')
		.basket-order__row
			.basket-order__column.basket-order__column_size_1
				.basket-order__inner-content
					.basket-order__text 12197
			.basket-order__column.basket-order__column_size_2
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1.basket-order__text_dots Лампа светодиодная Feron LB-40 Шарик...
			.basket-order__column.basket-order__column_size_3
				.basket-order__inner-content
					+icon('label-new', 'svg-icon_label-normal svg-icon_label_size_min ')
			.basket-order__column.basket-order__column_size_4
				.basket-order__inner-content
					.basket-order__text 32,00 ₽
			.basket-order__column.basket-order__column_size_5
				.basket-order__inner-content
					.counter-amount.js--counter-amount.basket-order__counter-amount
						button.counter-amount__btn.counter-amount__btn_minus(data-counter-amount-btn="minus").basket-order__counter-amount-btn
							+icon('minus', 'svg-icon_minus basket-order__svg-icon')
						input.counter-amount__value( value="1").js--counter-amount-value.basket-order__counter-amount-value
						button.counter-amount__btn.counter-amount__btn_plus(data-counter-amount-btn="plus").basket-order__counter-amount-btn
							+icon('plus', 'svg-icon_plus basket-order__svg-icon')
			.basket-order__column.basket-order__column_size_6
				.basket-order__inner-content
					.basket-order__text 25%
			.basket-order__column.basket-order__column_size_7
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1 1152,00 ₽
			.basket-order__column.basket-order__column_size_8
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1 864,00 ₽
			.basket-order__column.basket-order__column_size_9
					.basket-order__remove
						+icon('close_2', 'svg-icon_close_2 basket-order__svg-icon')
		.basket-order__row
			.basket-order__column.basket-order__column_size_1
				.basket-order__inner-content
					.basket-order__text 12197
			.basket-order__column.basket-order__column_size_2
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1.basket-order__text_dots Лампа светодиодная Feron LB-40 Шарик...
			.basket-order__column.basket-order__column_size_3
				.basket-order__inner-content
					+icon('label-new', 'svg-icon_label-normal svg-icon_label_size_min ')
			.basket-order__column.basket-order__column_size_4
				.basket-order__inner-content
					.basket-order__text 32,00 ₽
			.basket-order__column.basket-order__column_size_5
				.basket-order__inner-content
					.counter-amount.js--counter-amount.basket-order__counter-amount
						button.counter-amount__btn.counter-amount__btn_minus(data-counter-amount-btn="minus").basket-order__counter-amount-btn
							+icon('minus', 'svg-icon_minus basket-order__svg-icon')
						input.counter-amount__value( value="1").js--counter-amount-value.basket-order__counter-amount-value
						button.counter-amount__btn.counter-amount__btn_plus(data-counter-amount-btn="plus").basket-order__counter-amount-btn
							+icon('plus', 'svg-icon_plus basket-order__svg-icon')
			.basket-order__column.basket-order__column_size_6
				.basket-order__inner-content
					.basket-order__text 25%
			.basket-order__column.basket-order__column_size_7
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1 1152,00 ₽
			.basket-order__column.basket-order__column_size_8
				.basket-order__inner-content
					.basket-order__text.basket-order__text_color_1 864,00 ₽
			.basket-order__column.basket-order__column_size_9
					.basket-order__remove
						+icon('close_2', 'svg-icon_close_2 basket-order__svg-icon')
	.show-all-btn.basket-order__show-all-btn(data-show-all='Скрыть' data-show-all-block='basket-order').js--description-show-all
		span.show-all-btn__text(data-show-all-text='')
			|	Показать все товары
			|(
			span 92
			|)
