.breadcrumbs
	.breadcrumbs__item
		a.breadcrumbs__link(href="#") Главная
	.breadcrumbs__item
		a.breadcrumbs__link(href="#") Каталог товаров
	.breadcrumbs__item
		span.breadcrumbs__link Светодиодные лампы