.change-input
	.change-input__title Ваше имя
	.change-input__wrap
		.change-input__text(contenteditable="true" value="Михеев Вячеслав Сергеевич" maxlength="200" id="lk-name") ихеев Вячеслав Сергееви
		label.change-input__btn(for="lk-name")
			+icon('pencil', 'svg-icon_pencil change-input__svg-icon')
		.change-input__close
			+icon('close_2', 'svg-icon_close_2 change-input__svg-icon')
