.choice-area
	label.choice-area__item.checkbox
		input(type="checkbox", name="#")
		span.checkbox__name E14
		span.checkbox__view
			+icon('plus', 'svg-icon_checkbox-plus')
	label.choice-area__item.checkbox
		input(type="checkbox", name="#")
		span.checkbox__name E27
		span.checkbox__view
			+icon('plus', 'svg-icon_checkbox-plus')
	label.choice-area__item.checkbox
		input(type="checkbox", name="#", checked)
		span.checkbox__name GX53
		span.checkbox__view
			+icon('plus', 'svg-icon_checkbox-plus')