.order__counter-amount.counter-amount.js--counter-amount
	button.counter-amount__btn.counter-amount__btn_minus(data-counter-amount-btn="minus") -
	input.counter-amount__value( value="1").js--counter-amount-value
	button.counter-amount__btn.counter-amount__btn_plus(data-counter-amount-btn="plus") +