.dropdown
	ul.dropdown__list
		li.dropdown__item.js--dropdown
			a.dropdown__content(href="#")
				+icon('triangle_2', 'svg-icon_dropdown')
				span 48
		li.dropdown__item
			a.dropdown__content(href="#")
				+icon('triangle_2', 'svg-icon_dropdown')
				span 16
		li.dropdown__item
			a.dropdown__content(href="#")
				+icon('triangle_2', 'svg-icon_dropdown')
				span 24
		li.dropdown__item
			a.dropdown__content(href="#")
				+icon('triangle_2', 'svg-icon_dropdown')
				span 99