span(style="margin-bottom: 0; ")
h1(style=" font-family: 'Play', 'Helvetica', 'Arial', sans-serif;") H1 Заголовок
span(style="margin-bottom: 0;")
h2 H2 Заголовок
span(style="margin-bottom: 0;")
h3 H3 Заголовок
span(style="margin-bottom: 0;")
h4 H4 Заголовок
span(style="margin-bottom: 0;")
h5 H5 Заголовок
