form.main-search
	.main-search__form
		span.main-search__legend Поиск:
		input.input-line.main-search__input(type="search", placeholder="Поиск")
		button.main-search__btn-submit(type="submit")
			+icon('zoom', 'svg-icon_zoom')
	.main-search__link
		a.main-search__btn-link(href="#") Подобрать аналог