.options-group
	label.options-group__item.option
		input.option__input(type="checkbox", name="test1", checked)
		span.option__name Е14
	label.options-group__item.option
		input.option__input(type="checkbox", name="test1")
		span.option__name Е27
	label.options-group__item.option
		input.option__input(type="checkbox", name="test1")
		span.option__name Е40
	label.options-group__item.option
		input.option__input(type="checkbox", name="test1", disabled)
		span.option__name GX53
	label.options-group__item.option
		input.option__input(type="checkbox", name="test1")
		span.option__name B22