.range-slider
	.range-slider__input-wrapper
		input.input.range-slider__input.js--range-from(type="number")
		input.input.range-slider__input.js--range-to(type="number")
	input.js--range-slider(
	type = "text",
	data-min = "2344",
	data-max = "39900",
	data-from = "5100",
	data-to = "25600",
	)