mixin about-simple(data)
	sectionn.about-simple&attributes(attributes)
		.about-simple__container.container
			.about-simple__wrap
				.about-simple__main-title
					| История Blue Sleep началась с бессонницы.
					br
					| Ей страдал наш основатель, Марк Хамильфорд.
				.about-simple__desc
					| Прежде чем идти к врачу, он решил попробовать немедицинские методы расслабления и начал
					| с новой кровати. Марк, с присущей британским бизнесменам тщательностью, изучал типы матрасов, пока не обнаружил лучшую модель – гибридную, сочетающую пружины и пенный наполнитель.
					| Из неприятного была только цена и ещё необходимость ехать в магазин, чтобы выбрать матрас. Пытаясь решить эти проблемы, Марк наткнулся на компании, работающие по схеме bed in a box: торговля онлайн; только одна, но оптимальная модель в продаже; доставка в компактной упаковке. Идея ему настолько понравилась, что он не только обновил своё спальное место, но и основал собственную компанию.
					br
					br
					| Blue Sleep работает в России с 2017 года. Мы взяли концепцию bed in a box и применили её к нашим реалиям. У нас две высококлассные модели, которые сочетают в себе лучшие качества пружинных
					| и пенных матрасов. Заказы мы принимаем онлайн, а для желающих тестировать всё на себе
					| открыли шоу-рум (приходите в гости!). Мы настолько уверены в качестве своей продукции, что даём покупателям возможность бесплатно вернуть матрас в течение 100 дней после покупки. И что немаловажно, сами спим на матрасах Blue Sleep. Услуги по схеме bed in a box для России в новинку,
					| но мы планируем сделать беззаботный процесс покупки и качественный сон новой нормой. Stay tuned!




