mixin about-bottom(data)
	sectionn.about-bottom&attributes(attributes)
		.about-bottom__container.container
			.about-bottom__wrap
				.about-bottom__desc
					| Общие вопросы, жалобы и предложения присылайте по адресу: director@bluesleep.ru. По вопросам рекламы, PR и любым другим коммерческим вопросам, пожалуйста, пишите: marketing@bluesleep.ru