mixin about-banner(data)
	section.about-banner&attributes(attributes)
		.about-banner__container.container
			.about-banner__wrap
				.about-banner__content
					.about-banner__title
						| Наша история
					.about-banner__desc
						| Мы настолько уверены в наших матрасах,
						br
						| что даем 100 дней на проверку!