mixin advantages-detail_3(data, mods)
	section.advantages-detail&attributes(attributes)
		.advantages-detail__container.container
			.advantages-detail__wrap.js-advantages-detail-wrap
				.advantages-detail__item
					.advantages-detail__img-box
						img.advantages-detail__img(src="img/kpb_icon_1.jpg", alt='')
					.advantages-detail__title
						| 100%
						br
						| хлопковый сатин
				.advantages-detail__item
					.advantages-detail__img-box
						img.advantages-detail__img(src="img/kpb_icon_2.jpg", alt='')
					.advantages-detail__title
						| Долговечность
						br
						| без катышков
				.advantages-detail__item
					.advantages-detail__img-box
						img.advantages-detail__img(src="img/kpb_icon_3.jpg", alt='')
					.advantages-detail__title
						|  Высокая
						br
						| прочность
				.advantages-detail__item
					.advantages-detail__img-box
						img.advantages-detail__img(src="img/kpb_icon_4.jpg", alt='')
					.advantages-detail__title
						| Ткань
						br
						| дышит
