mixin advantages(data, mods)
	section.advantages&attributes(attributes)
		.advantages__container.container
			.advantages__wrap.js-advantages-wrap
				.advantages__item
					.advantages__img-box
						+icon("advantages_1", "advantages__icon")
					.advantages__title 100 дней на тест
					.advantages__desc
						|(Не понравился?
						| Вернем деньги.)
				.advantages__item
					.advantages__img-box
						+icon("advantages_2", "advantages__icon")
					.advantages__title 10 лет гарантии
					.advantages__desc
						| (Бла бла ченить
						| написать милое)
				.advantages__item
					.advantages__img-box
						+icon("advantages_3", "advantages__icon")
					.advantages__title Бесплатная доставка
					.advantages__desc
						|(По Москве и Московской области)
				.advantages__item
					.advantages__img-box
						+icon("advantages_4", "advantages__icon")
					.advantages__title Британские технологии
					.advantages__desc
						|(Да да, мы сохранили англиское качество.)
				.advantages__item
					.advantages__img-box
						+icon("advantages_5", "advantages__icon")
					.advantages__title Рассрочка 0-0-24
					.advantages__desc
						| (Бла бла ченить
						| написать милое.)

