mixin advantages-detail(data, mods)
	section.advantages-detail&attributes(attributes)
		.advantages-detail__container.container
			.advantages-detail__wrap.js-advantages-detail-wrap
				.advantages-detail__item
					.advantages-detail__img-box
						+icon("high", "advantages-detail__icon")
					.advantages-detail__title 100 дней на тест
				.advantages-detail__item
					.advantages-detail__img-box

						+icon("springs", "advantages-detail__icon")
					.advantages-detail__title 100 дней на тест
				.advantages-detail__item
					.advantages-detail__img-box
						+icon("2zones", "advantages-detail__icon")
					.advantages-detail__title 100 дней на тест
				.advantages-detail__item
					.advantages-detail__img-box
						+icon("Hypoallergenic", "advantages-detail__icon")
					.advantages-detail__title 100 дней на тест
				.advantages-detail__item
					.advantages-detail__img-box
						+icon("advantages_4", "advantages-detail__icon")
					.advantages-detail__title 100 дней на тест

