mixin banner-simple(data)
	section.banner-simple&attributes(attributes)
		.banner-simple__container.container
			.banner-simple__wrap
				.banner-simple__content
					.banner-simple__title подушки
					.banner-simple__desc
						| Подушки Blue Sleep идеально дополняют
						| гибридные матрасы и заботятся о шейном
						| отделе позвоночника. На выбор есть модели
						| из комбинации пен и бамбука.