mixin basket-sum(data)
	.basket-sum&attributes(attributes)
		.basket-sum__bottom
			.basket-sum__bottom-row
				.basket-sum__bottom-column.basket-sum__bottom-column_pos_1
					.basket-sum__bottom-text Общая сумма:
				.basket-sum__bottom-column.basket-sum__bottom-column_pos_2
					.basket-sum__sum
						span.basket-sum__sum-text-number 75 787
						span.basket-sum__sum-text-currency руБ.
			.basket-sum__bottom-row
				.basket-sum__bottom-column.basket-sum__bottom-column_pos_1
					.basket-sum__bottom-text Доставка:
				.basket-sum__bottom-column.basket-sum__bottom-column_pos_2
					.basket-sum__bottom-text Бесплатно
