mixin basket-advantages(data)
	.basket-advantages&attributes(attributes)
		.basket-advantages__wrap
			.basket-advantages__item
				.basket-advantages__img-box
					+icon("advantages_1", "advantages__icon")
				.basket-advantages__title 100 дней на тест
			.basket-advantages__item
				.basket-advantages__img-box
					+icon("advantages_2", "advantages__icon")
				.basket-advantages__title 10 лет гарантии
			.basket-advantages__item
				.basket-advantages__img-box
					+icon("advantages_3", "advantages__icon")
				.basket-advantages__title Бесплатная доставка
				
		