mixin blogers(data, mods)
	.blogers&attributes(attributes)
		.blogers__container.container
			.blogers__main-title Наши матрасы у блоггеров
			.blogers__wrap.js-blogers-wrap
				.blogers__item
					.blogers__img-box
						img.blogers__img(src="img/c/blogers_1.jpg", alt='')
					.blogers__name Lova lova
					.blogers__nickname @Lova lova
				.blogers__item
					.blogers__img-box
						img.blogers__img(src="img/c/blogers_2.jpg", alt='')
					.blogers__name Lova lova
					.blogers__nickname @Lova lova
				.blogers__item
					.blogers__img-box
						img.blogers__img(src="img/c/blogers_3.jpg", alt='')
					.blogers__name Lova lova
					.blogers__nickname @Lova lova
				.blogers__item
					.blogers__img-box
						img.blogers__img(src="img/c/blogers_4.jpg", alt='')
					.blogers__name Lova lova
					.blogers__nickname @Lova lova
				.blogers__item
					.blogers__img-box
						img.blogers__img(src="img/c/blogers_4.jpg", alt='')
					.blogers__name Lova lova 2
					.blogers__nickname @Lova lova