mixin brands(data, mods)
	.brands&attributes(attributes)
		.brands__container.container
			.brands__wrap.js-brands-wrap
				.brands__item
					.brands__img-box
						img.brands__img(src="img/brands_1.png", alt='')
					.brands__title 100 дней на тест
					.brands__desc
						|(Не понравился?
						| Вернем деньги.)
				.brands__item
					.brands__img-box
						img.brands__img(src="img/brands_2.png", alt='')
					.brands__title 10 лет гарантии
					.brands__desc
						| (Бла бла ченить
						| написать милое)
				.brands__item
					.brands__img-box
						img.brands__img(src="img/brands_3.png", alt='')
					.brands__title Бесплатная доставка
					.brands__desc
						|(По Москве и Московской области)
				.brands__item
					.brands__img-box
						img.brands__img(src="img/brands_4.png", alt='')
					.brands__title Британские технологии
					.brands__desc
						|(Да да, мы сохранили англиское качество.)
				.brands__item
					.brands__img-box
						img.brands__img(src="img/brands_5.png", alt='')
					.brands__title Рассрочка 0-0-24
					.brands__desc
						| (Бла бла ченить
						| написать милое.)

