mixin card-info-list(data)
	.card-info-list&attributes(attributes)
		.card-info-list__wrap
			.card-info-list__item.active
				a.card-info-list__link(href="#") HIBRYD
			.card-info-list__item
				a.card-info-list__link(href="#") CONCEPT
			.card-info-list__item
				a.card-info-list__link(href="#") GRAVITY
