include choice-size-kpb
include detail-color
include detail-parameters
include timer
include card-info-showroom


mixin card-info-kpb(data)
	.card-info&attributes(attributes)
		.card-info-kpb__wrap
			.card-info-kpb__top
				.card-info-kpb__main-title Постельное белье Blue Sleep
				.card-info-kpb__price
					.card-info-kpb__price-new(data-card-info-price-new) #{$offersList[0]["data"].BASE_PRICE}
					.card-info-kpb__price-old(data-card-info-price-old) #{$offersList[0]["data"].OLD_PRICE}
				.card-info-kpb__price-other.card-info-kpb__price-other_indent_min(data-card-info-price-other)
					| Или
					span.card-info-kpb__price-other-numeric
						| от
						span.card-info-kpb__price-other-number(data-card-info-price-other-number) &#32; #{$offersList[0]["data"].CREDIT_RENT}
						|&#32; р. /мес
					|	без переплат
				+detail-color()(class="card-info-kpb__colors card-info-kpb__colors_indent_big")
				+choice-size-kpb()(class="card-info-kpb__choice-size card-info-kpb__choice-size_indent_min")
				//+flexibox-tooltip()(class="")
				.card-info-kpb__detail-parameter
					+detail-parameters()(class="detail-parameters_indent_min-2")
				.card-info-kpb__card-info-showroom
					+card-info-showroom()
			.card-info-kpb__center.card-info-kpb__center_indent_big
				.card-info-kpb__btn-wrap
					.card-info-kpb__btn.btn
						span.card-info-kpb__btn-text.card-info-kpb__btn-text_pos_1 Купить
							span.card-info-kpb__btn-text.card-info-kpb__btn-text_pos_2  сейчас
			.card-info-kpb__bottom
				.card-info-kpb__delivery.card-info-kpb__delivery_indendt_min
					.card-info-kpb__delivery-img-box
						img.card-info-kpb__delivery-img(src="img/delivery.png", alt='')
					.card-info-kpb__delivery-text Бесплатная доставка в день заказа
					.card-info-kpb__delivery-tooltip.tooltip-all(title="текст подсказки" data-tooltip-item)
						img.card-info-kpb__delivery-tooltip-img(src="img/question.png", alt='')
			.card-info-kpb__timer
				+timer()()



