mixin card-info-test(data)
	.card-info-test&attributes(attributes)
		.card-info-test__img-box
			img.card-info-test__img(src="img/calc.png", alt='')
		.card-info-test__text
			| 100 дней на тест и возврат без проблем
		.card-info-test__tooltip.tooltip-all(title="текст подсказки" data-tooltip-item="")
			img.card-info-test__tooltip-img(src="img/question.png", alt='')
