mixin card-info-showroom(data)
	.card-info-showroom&attributes(attributes)
		.card-info-showroom__img-box
			img.card-info-showroom__img(src="img/sofa.png", alt='')
		.card-info-showroom__text
			| Хотите попробовать перед покупкой?
			a(href="#")   Где полежать
