mixin card-info-count(data)
	.card-info-count&attributes(attributes)
		.card-info-count__wrap
			.card-info-count__list
				.card-info-count__item.active
				.card-info-count__item
				.card-info-count__item
			.card-info-count__text Осталось мало