include choice-size_3_pillows
include timer
include stars-rating

mixin card-info_4_pillows(data)
	.card-info&attributes(attributes)
		.card-info__wrap
			.card-info__top
				.card-info__main-title Кровать BlueSleep без изголовья
				+stars-rating()(class="card-info__star-rating stars-rating_mod_pillows")
				.card-info__price.card-info__price_mod_pillows
					.card-info__price-new(data-card-info-price-new) #{$offersList[0]["data"].BASE_PRICE}
					.card-info__price-old(data-card-info-price-old) #{$offersList[0]["data"].OLD_PRICE}
				.card-info__price-other(data-card-info-price-other)
					| Или
					span.card-info__price-other-numeric
						| от
						span.card-info__price-other-number(data-card-info-price-other-number) &#32; #{$offersList[0]["data"].CREDIT_RENT}
						|&#32; р. /мес
					|	без переплат
					//+flexibox-tooltip()(class="flexibox-tooltip_indent")
				+choice-size_3_pillows()(class="")
				.card-info__desc
					| Состав:
					br
					| Анатомическая основа подушки:
					br
					| Инновационная пена Memory Granular Foam
					br
					| Съемный чехол:
					br
					| Высокопрочный бельгийский трикотаж, состав:
					br
					| 60 % полиэстер, 40 % лиоцель
			.card-info__center-block
				+timer()()
			.card-info__center

			.card-info__center.card-info__center_indent_big
				.card-info__btn-wrap
					.card-info__btn.btn
						span.card-info__btn-text.card-info__btn-text_pos_1 Купить
							span.card-info__btn-text.card-info__btn-text_pos_2  сейчас
					.card-info__btn.btn.card-info__btn_credit(data-card-info-btn-credit)
						span.card-info__btn-text.card-info__btn-text_credit_pos_1 0-0-024
						span.card-info__btn-text.card-info__btn-text_credit_pos_2  Рассрочка
			.card-info__bottom
				.card-info__delivery.card-info__delivery_indendt_min
					.card-info__delivery-img-box
						img.card-info__delivery-img(src="img/delivery.png", alt='')
					.card-info__delivery-text Бесплатная доставка в день заказа
					.card-info__delivery-tooltip(title="текст подсказки")
						img.card-info__delivery-tooltip-img(src="img/question.png", alt='')

