mixin certificates-list(data)
	.certificates-list__list&attributes(attributes)
		.certificates-list__item
			.certificates-list__picture-slider
				a(data-fancybox='gallery-certificates', href='img/c/certificates_1.png')
					img.certificates-list__slider-item(src='img/c/certificates_1.png', alt='Cертификат Blue Sleep', title='Cертификат Blue Sleep')
			.certificates-list__text.html-area
				h2 Декларация соответствия
				p
					b Мебель бытовая для взрослых
					| : матрасы пружинные, торговой марки "Blue Sleep"
				p
					b Изготовитель
					|  "Breasley Pillow Ltd"
				p
					b Место нахождения
					| : "Соединенное Королевство, Water Lane Wirksworth, United Kingdom DE4 4AA
				p
					| Продукция изготовлена в соответствии с требованиями ТР ТС 025/2012 "О безопасности мебельной продукции"
		.certificates-list__item
			.certificates-list__picture-slider
				a(data-fancybox='gallery-certificates', href='img/c/certificates_2.png')
					img.certificates-list__slider-item(src='img/c/certificates_2.png', alt='Cертификат Blue Sleep', title='Cертификат Blue Sleep')
			.certificates-list__text.html-area
				h2 Декларация соответствия
				p
					b Постельные принадлежности для взрослых из тканей из синтетических нитей
					| : наматрацники, торговая марка: "Blue Sleep"
				p
					b Изготовитель
					|  "Breasley Pillow Ltd"
				p
					b Место нахождения
					| : "Соединенное Королевство, Water Lane Wirksworth, United Kingdom DE4 4AA
				p
					| Продукция изготовлена в соответствии с требованиями ТР ТС 025/2012 "О безопасности мебельной продукции"
		.certificates-list__item
			.certificates-list__picture-slider
				a(data-fancybox='gallery-certificates', href='img/c/certificates_3.png')
					img.certificates-list__slider-item(src='img/c/certificates_3.png', alt='Cертификат Blue Sleep', title='Cертификат Blue Sleep')
				a(data-fancybox='gallery-certificates', href='img/c/certificates_4.png', style='display: none')
					img.certificates-list__slider-item(src='img/c/certificates_4.png', alt='Cертификат Blue Sleep', title='Cертификат Blue Sleep')
				a(data-fancybox='gallery-certificates', href='img/c/certificates_5.png', style='display: none')
					img.certificates-list__slider-item(src='img/c/certificates_5.png', alt='Cертификат Blue Sleep', title='Cертификат Blue Sleep')
				a(data-fancybox='gallery-certificates', href='img/c/certificates_6.png', style='display: none')
					img.certificates-list__slider-item(src='img/c/certificates_6.png', alt='Cертификат Blue Sleep', title='Cертификат Blue Sleep')
			.certificates-list__text
				h2
					b Сертификат Oeko-Tex® Standard 100
				p
					| Институт международной ассоциации для исследований и испытаний в области текстильной экологии (Oeko-Tex)
					br
					|     Компании Torres Espic
				p
					| Предоставляется разрешение в соответствии с Oeko-Tex Standart 100, использовать Oeko-Tex знак, основанный на нашем тестовом отчете 2014OK2012
				p
					| Испытания на содержание вредных веществ cогласно Oeko-Tex Standart 100
				p
					| Для следующих изделий:
					br
					|     Эластичных пен Bassic, Resilen, Resilen +, Ikon, эластичных пен с соевым маслом и Viscoool ( При плотности 20-60 кг/м3).
				p
					| По результатам проверки, в соответствии с первым классом продукции Oeko-Tex Standart 100, упомянутые выше товары
					b
						| соответствуют экологическим требованиям и стандартам, установленным для детских изделий.
