mixin characteristics(data)
	section.characteristics&attributes(attributes)
		.characteristics__container.container
			.characteristics__wrap
				.characteristics__img-box
					img.characteristics__img.characteristics__img_show_mobile(src="img/c/characteristics_1.png", alt="Слои матраса Blue Sleep" title="Слои матраса Blue Sleep")
					video.characteristics__video.characteristics__video_show_desktop(muted="" data-characteristics-video)
						source(src="video/bluesleep_presentation.mp4" type="video/mp4")
						source(src="video/bluesleep_presentation.ogv" type="video/ogg")
						source(src="video/bluesleep_presentation.webm" type="video/webm")

				.characteristics__list
					.characteristics__item
						.characteristics__title
							| Гипоаллергенная
							| стретч-ткань
						.characteristics__desc
							| Никакого раздражения
							| даже у людей
							| с гиперчувствительностью
					.characteristics__item
						.characteristics__title
							| Слой SleepCool
							| Memory Foam
						.characteristics__desc
							| С эффектом памяти
							| и натуральным соевым
							| маслом для охлаждения
					.characteristics__item
						.characteristics__title
							| Дополнительный
							| слой повышенной
							| плотности
						.characteristics__desc
							| Предотвращает
							| преждевременный износ
							| слоев и обеспечивает
							| долговечное
							| использовани
							| матраса
					.characteristics__item
						.characteristics__title
							| Основной слой
							|	повышенной
							|	плотности
						.characteristics__desc
							|    Воздушные каналы
							|    и зоны ослабленного
							|    давления выравнивают
							|    позвоночник
					.characteristics__item
						.characteristics__title
							| Более 2000
							| запатентованных
							| микропружин
						.characteristics__desc
							| Независимые пружины
							| оказывают оптимальную
							| поддержку по всей
							| площади


















