mixin choice-self-size-input(data)
	.choice-self-size-input(data-choice-size-dropdown)&attributes(attributes)
		.choice-self-size-input__wrap
			input.choice-self-size-input__input(placeholder="Введите размер" name="selfSize")


