mixin choice-size-dropdown_3_pillows(data)
	.choice-size-dropdown&attributes(attributes)
		.choice-size-dropdown__wrap
			.choice-size-dropdown__active-item
				.choice-size-dropdown__active-item-text One size