include choice-size-dropdown_3_pillows

mixin choice-size_3_pillows(data)
	.choice-size&attributes(attributes)
		.choice-size__wrap.choice-size__wrap_mod_pillows
			.choice-size__column.choice-size__column_pos_1
				.choice-size__title Размер
				.choice-size__value(data-choice-size-value="" )
					span.choice-size__value-size(data-choice-size-value-size) #{$offersList[0]["data"].GABARITY}
					span.choice-size__value-divider /
					span.choice-size__value-weight(data-choice-size-value-weight) #{$offersList[0]["data"].WEIGHT}
			.choice-size__column.choice-size__column_pos_2.choice-size__column_mod_pillows
				+choice-size-dropdown_3_pillows()(class="choice-size__dropdown")
