include choice-size-dropdown

mixin choice-size(data)
	.choice-size&attributes(attributes)
		.choice-size__wrap
			.choice-size__column.choice-size__column_pos_1
				.choice-size__title Выберите размер
				.choice-size__value(data-choice-size-value="" )
					span.choice-size__value-size(data-choice-size-value-size) #{$offersList[0].GABARITY}
					span.choice-size__value-divider /
					span.choice-size__value-weight(data-choice-size-value-weight) #{$offersList[0].WEIGHT}
			.choice-size__column.choice-size__column_pos_2
				+choice-size-dropdown()(class="choice-size__dropdown")
