mixin choice(data, mods)
	.choice&attributes(attributes)
		.choice__container.container
			.choice__main-title Найди свою зону комфорта
			.choice__main-sub-title Выбери между двумя совершенно разными матрасами
			.choice__wrap
				.choice__item
					.choice__img-box
						img.choice__img(src="img/c/choice_1.png", alt='')
					.choice__content
						.choice__title Blue Sleep Hybrid
						.choice__param 24 см | 4 слоя | 2000 микропружин
						.choice__desc
							| Матрас средне-жесткий. Снимает нагрузку
							|	и обеспечивает позвоночнику естественное
							|	положение. Нагрузка на спальное место до 140 кг.
						.choice__price-wrap
							span.choice__price-prifix От
							span.choice__price-old 54 990 р.
							span.choice__price-new 49 491 р.
						.choice__btn-wrap
							.choice__btn.btn Купить сейчас
					.choice__decor Или
				.choice__item
					.choice__img-box
						img.choice__img(src="img/c/choice_2.png", alt='')
					.choice__content
						.choice__title Blue Sleep Hybrid
						.choice__param 24 см | 4 слоя | 2000 микропружин
						.choice__desc
							| Матрас средне-жесткий. Снимает нагрузку
							|	и обеспечивает позвоночнику естественное
							|	положение. Нагрузка на спальное место до 140 кг.
						.choice__price-wrap
							span.choice__price-prifix От
							span.choice__price-old 54 990 р.
							span.choice__price-new 49 491 р.
						.choice__btn-wrap
							.choice__btn.btn Купить сейчас
					.choice__decor Или
				.choice__item
					.choice__img-box
						img.choice__img(src="img/c/choice_3.png", alt='')
					.choice__tooltip Новинка
					.choice__content
						.choice__title Blue Sleep Hybrid
						.choice__param 24 см | 4 слоя | 2000 микропружин
						.choice__desc
							| Матрас средне-жесткий. Снимает нагрузку
							|	и обеспечивает позвоночнику естественное
							|	положение. Нагрузка на спальное место до 140 кг.
						.choice__price-wrap
							span.choice__price-prifix От
							span.choice__price-old 54 990 р.
							span.choice__price-new 49 491 р.
						.choice__btn-wrap
							.choice__btn.btn Купить сейчас
					.choice__decor Или

