mixin complement-advantages(data)
	section.complement-advantages.complement-advantages_indent_top.complement-advantages_indent_bottom&attributes(attributes)
		.complement-advantages__container.container
			.complement-advantages__wrap
				.complement-advantages__item
					.complement-advantages__column.complement-advantages__column_pos_1
						.complement-advantages__img-box
							img.complement-advantages__img(src="img/kpb_banner_1.jpg", alt='')
					.complement-advantages__column.complement-advantages__column_pos_2
						.complement-advantages__desc-wrap
							.complement-advantages__title Идеальное соприкосновение с телом
							.complement-advantages__desk
								| Сатиновый тип плетения хлопковой ткани — лучший по тактильным ощущениям, а также по износостойкости. Наше белье изготовлено из ткани, для которой используются крученые нити двойного плетения. Чем больше скручена нить, тем ярче получается блеск ткани. Сатиновый хлопок приятен к телу, легок, воздухопроницаем, гипоаллергенен и не электризуется.
							.complement-advantages__bottom
								.complement-advantages__bottom-column
									.complement-advantages__bottom-img-box
										img.complement-advantages__bottom-img(src="img/kpb_prop_1.jpg", alt='')
									.complement-advantages__bottom-desc.complement-advantages__bottom-desc_pos_center Полотяное плетение
								.complement-advantages__bottom-column
									.complement-advantages__bottom-img-box
										img.complement-advantages__bottom-img(src="img/kpb_prop_2.jpg", alt='')
									.complement-advantages__bottom-desc.complement-advantages__bottom-desc_pos_center Сатиновое плетение
				.complement-advantages__item
					.complement-advantages__column.complement-advantages__column_pos_2
						.complement-advantages__desc-wrap
							.complement-advantages__title ДОЛГОВЕЧНОСТЬ БЕЗ КАТЫШКОв
							.complement-advantages__desk
								| Для наших комплектов мы используем ткань из длинноволокнистого хлопка.
								br
								br
								b
									|В чем разница между длинноволокнистым хлопком и коротковолокнистым?
							.complement-advantages__bottom
								.complement-advantages__bottom-column
									.complement-advantages__bottom-img-box
										img.complement-advantages__bottom-img(src="img/kpb_prop_3.jpg", alt='')
									.complement-advantages__bottom-desc
										| Нити коротковолокнистого хлопка при прядении образуют ворсистость, которая не видна визуально при покупке, но после нескольких стирок выглядит, как катышки.
								.complement-advantages__bottom-column
									.complement-advantages__bottom-img-box
										img.complement-advantages__bottom-img(src="img/kpb_prop_4.jpg", alt='')
									.complement-advantages__bottom-desc
										| Длинноволокнистый хлопок имеет более длинные ворсинки, за счет чего ткань выдерживает большую разрывную нагрузку при стирках и использовании. Катышки на такой ткани не образуются, такая ткань более долговечна.
					.complement-advantages__column.complement-advantages__column_pos_1
						.complement-advantages__img-box
							img.complement-advantages__img(src="img/kpb_banner_2.jpg", alt='')
				.complement-advantages__item
					.complement-advantages__column.complement-advantages__column_pos_1
						.complement-advantages__img-box
							img.complement-advantages__img(src="img/kpb_banner_3.jpg", alt='')
					.complement-advantages__column.complement-advantages__column_pos_2
						.complement-advantages__desc-wrap
							.complement-advantages__title ВЫСОКАЯ ПРОЧНОСТЬ
							.complement-advantages__desk
								| Мы выбрали ткань повышенной плотности в 200 ТС и поэтому постельное белье Blue Sleep выдерживает около 200-300 стирок, не теряя при этом привлекательный внешний вид и мягкость.
				.complement-advantages__item
					.complement-advantages__column.complement-advantages__column_pos_2
						.complement-advantages__desc-wrap
							.complement-advantages__title ТКАНЬ «ДЫШИТ»
							.complement-advantages__desk
								| Сатиновое переплетение нитей обеспечивает «дышащую» структуру. Эти свойства вот уже несколько столетий используются в производстве только качественной одежды и постельного белья.
					.complement-advantages__column.complement-advantages__column_pos_1
						.complement-advantages__img-box
							img.complement-advantages__img(src="img/kpb_banner_4.jpg", alt='')