mixin complement-boxing(data)
	section.complement-boxing&attributes(attributes)
		section.complement-boxing&attributes(attributes)
			.complement-boxing__wrap
				.complement-boxing__container.container
					.complement-boxing__title.all-page-decoration-title.all-page-decoration-title_decor_none
						h2.complement-boxing__title-text.complement-boxing__title-text.all-page-decoration-title__text
							| КАК МЫ УПАКОВЫВАЕМ НАШИ КОМПЛЕКТЫ
					.complement-boxing__subtitle
						| Все комплекты постельного белья дополнительно упакованы в кальку «тишью» и сложены в брендированные подарочные коробки Blue Sleep, поэтому они подойдут не только для вас, но и отлично подходят для подарка.
					.complement-boxing__list.js--complement-boxing-list
						.complement-boxing__item
							img.complement-boxing__img(src="img/kpb_1.jpg", alt='')
						.complement-boxing__item
							img.complement-boxing__img(src="img/kpb_2.jpg", alt='')
						.complement-boxing__item
							img.complement-boxing__img(src="img/kpb_3.jpg", alt='')