mixin convenience(data, mods)
	.convenience&attributes(attributes)
		.convenience__container.container
			.convenience__wrap
				.convenience__column.convenience__column_pos_1
					.convenience__main-title
						|	Хороший сон или мы
						|	вернем деньги*
					.convenience__inner-content
						.convenience__inner-column.convenience__inner-column_pos_1
							img.convenience__decor-img(src="/img/decor_check.png", alt='')
							.convenience__text
								| Никаких рисков:
								|	не понравится
								|	матрас - вернем
								|	деньги*

						.convenience__inner-column.convenience__inner-column_pos_2
									img.convenience__decor-img(src="/img/decor_check.png", alt='')
									.convenience__text
										| Самый популярный
										|	матрас из Британии,
										|	на нем уже спит более
										|	10 000 счастливых
										|	семей
					a.convenience__link(href="#") *Смотреть оферту
				.convenience__column.convenience__column_pos_2
					.convenience__img-wrap
						.convenience__img-box
							img.convenience__img(src="/img/c/convenience_1.jpg", alt='')