mixin detail-color(data)
	.detail-color&attributes(attributes)
		.detail-color__wrap
			.detail-color__btn
				input#detail-color-input-1.detail-color__input(type="radio" name="color-check" value="1" checked="")
				label.detail-color__label(for="detail-color-input-1" style="background-color: #e4e2e5;")
			.detail-color__btn
				input#detail-color-input-2.detail-color__input(type="radio" name="color-check" value="2")
				label.detail-color__label(for="detail-color-input-2" style="background-color: #e8dcbb;")