mixin detail-parameters(data)
	.detail-parameters&attributes(attributes)
		.detail-parameters__wrap
			.detail-parameters__text
				| Длина кровати 210 см
				br
				| Ширина кровати 148,5 см
				br
				| Высота кровати (16 см высота основания + 17 см высота ножек)