mixin gifts-section-third(data)
	//section.gifts-section-third&attributes(attributes)
	//	.sert-flex__item.scat-item.scat-item_num_4
	//		img.scat-item__img(src="img/s-4.png", alt="")
	//		span.scat-item__name Одеяло Blue&nbsp;Sleep
	//		.scat-item__footer
	//			.scat-item__text Когда ваша забота уютно укутывает
	//			.scat-item__cta
	//				a.scat-item__btn.btn.btn_bg_blue.btn_bordered(href="#") Купить
	//
	//	.sert-flex__item.scat-item.scat-item_num_5
	//		img.scat-item__img(src="img/s-5.png", alt="")
	//		span.scat-item__name Матрас Blue&nbsp;Sleep
	//		.scat-item__footer
	//			.scat-item__text Для тех, кого вы действительно любите
	//			.scat-item__cta
	//				a.scat-item__btn.btn.btn_bg_blue.btn_bordered(href="#") Купить
	section.gifts-section-third&attributes(attributes)
		.gifts-section-third__container.container
			.gifts-section-third__wrap
				.gifts-section-third__column.gifts-section-third__column_pos_1
					.gifts-section-third__item
						img.gifts-section-third__img(src="img/s-4.png", alt="")
						span.gifts-section-third__name Одеяло Blue Sleep
						.gifts-section-third__footer
							.gifts-section-third__text Когда ваша забота уютно укутывает
							.gifts-section-third__cta
								a.gifts-section-third__btn.btn-other.btn-other_bg_blue.btn-other_bordered(href="#") Купить


				.gifts-section-third__column.gifts-section-third__column_pos_2
					.gifts-section-third__item
						img.gifts-section-third__img(src="img/s-5.png", alt="")
						span.gifts-section-third__name Матрас Blue Sleep
						.gifts-section-third__footer
							.gifts-section-third__text Для тех, кого вы действительно любите
							.gifts-section-third__cta
								a.gifts-section-third__btn.btn-other.btn-other_bg_blue.btn-other_bordered(href="#") Купить