mixin gifts-section-second(data)
	section.gifts-section-second&attributes(attributes)
		.gifts-section-second__container.container
			.gifts-section-second__wrap
				.gifts-section-second__item
					.gifts-section-second__img-box
						img.gifts-section-second__img(src="img/s-3.png", alt="")
					.gifts-section-second__footer
						span.gifts-section-second__name Комплект Blue&nbsp;Sleep&nbsp;Nice
						.gifts-section-second__text Вы точно позаботились о самом главном
						.gifts-section-second__cta
							a.gifts-section-second__btn.btn-other.btn-other_bg_blue.btn-other_bordered(href="#") Купить
