mixin gifts-banner(data)
	section.gifts-banner&attributes(attributes)
		.gifts-banner__container.container
			.gifts-banner__wrap
				img.gifts-banner__img.gifts-banner__img_pos_1(src="/img/gs-promo-1.png", alt="")
				img.gifts-banner__img.gifts-banner__img_pos_2(src="/img/gs-promo-2.png", alt="")
				.gifts-banner__info
					.gifts-banner__title Подарки для вас и ваших родных
					.gifts-banner__text Продукты Blue&nbsp;Sleep - идеальный выбор, чтобы подарить комфорт  людям, которые вам дороги.

