mixin gifts-section-one(data)
	section.gifts-section-one&attributes(attributes)
		.gifts-section-one__container.container
			.gifts-section-one__wrap
				.gifts-section-one__column.gifts-section-one__column_pos_1
					.gifts-section-one__item
						img.gifts-section-one__img(src="img/s-1.png", alt="")
						span.gifts-section-one__name Постельное белье Blue&nbsp;Sleep
						.gifts-section-one__footer
							.gifts-section-one__text Когда в выборе подарка вы внимательны в мелочах
							.gifts-section-one__cta
								a.gifts-section-one__btn.btn-other.btn-other_bg_blue.btn-other_bordered(href="#") Купить


				.gifts-section-one__column.gifts-section-one__column_pos_2
					.gifts-section-one__item
						img.gifts-section-one__img(src="img/s-2.png", alt="")
						span.gifts-section-one__name Подушки Blue&nbsp;Sleep
						.gifts-section-one__footer
							.gifts-section-one__text Самый мягкий подарок для самых близких
							.gifts-section-one__cta
								a.gifts-section-one__btn.btn-other.btn-other_bg_blue.btn-other_bordered(href="#") Купить