include tooltip

mixin list-section(data)
	section.list-section&attributes(attributes)
		.list-section__container.container
			.list-section__main-title Найди свою зону комфорта
			.list-section__main-sub-title Выбери между двумя совершенно разными матрасами
			.list-section__wrap
				a(href="#").list-section__item
					.list-section__img-box
						img.list-section__img(src="img/c/choice_1.png", alt='')
					.list-section__content
						.list-section__title
							| Анатомическая подушка
							| Blue Sleep

						.list-section__price-wrap
							span.list-section__price-prifix От
							span.list-section__price-old 54 990 р.
							span.list-section__price-new 49 491 р.
						.list-section__btn-wrap
							.list-section__btn.btn
								span.list-section__btn-text.list-section__btn-text_pos_1 Купить
								span.list-section__btn-text.list-section__btn-text_pos_2 сейчас
				a(href="#").list-section__item
					.list-section__img-box
						img.list-section__img(src="img/c/choice_1.png", alt='')
					.list-section__content
						.list-section__title
							| Подушка в подушке
							| BlueSleep
						.list-section__price-wrap
							span.list-section__price-prifix От
							span.list-section__price-old 54 990 р.
							span.list-section__price-new 49 491 р.
						.list-section__btn-wrap
							.list-section__btn.btn
								span.list-section__btn-text.list-section__btn-text_pos_1 Купить
								span.list-section__btn-text.list-section__btn-text_pos_2 сейчас
				a(href="#").list-section__item
					.list-section__img-box
						img.list-section__img(src="img/c/choice_1.png", alt='')
						+tooltip({"title": "Новинка"})(class="list-section__tooltip")
					.list-section__content
						.list-section__title
							| Чехол на подушку
						.list-section__price-wrap
							span.list-section__price-prifix От
							span.list-section__price-old 54 990 р.
							span.list-section__price-new 49 491 р.
						.list-section__btn-wrap
							.list-section__btn.btn
								span.list-section__btn-text.list-section__btn-text_pos_1 Купить
								span.list-section__btn-text.list-section__btn-text_pos_2 сейчас




		