mixin main-category(data)
	.main-category&attributes(attributes)
		.main-category__container.container
			.main-category__wrap
				.main-category__item
					.main-category__title Матрасы
					.main-category__img-box
						img.main-category__img(src="img/c/main_category_1.jpg", alt='')
					.main-category__btn-wrap
						.main-category__btn.btn Купить сейчас
				.main-category__item
					.main-category__title Подушки
					.main-category__img-box
						img.main-category__img(src="img/c/main_category_2.jpg", alt='')
					.main-category__btn-wrap
						.main-category__btn.btn Купить сейчас
				.main-category__item
					.main-category__title Аксессуары
					.main-category__img-box
						img.main-category__img(src="img/c/main_category_3.jpg", alt='')
					.main-category__btn-wrap
						.main-category__btn.btn Купить сейчас

