mixin medal-icon(data)
	section.medal-icon&attributes(attributes)
		a.medal-icon(href='https://tagline.ru/awards/winners/?utm_source=medal&utm_medium=banner&utm_campaign=none&utm_term=awards-winners', target='_blank', title='Компания — призер Tagline Awards 2019')
			img(src='https://tagline.ru/medal-tagline-awards-2019-bronze.svg', alt='Компания — призер Tagline Awards 2019')


