mixin more-products(data)
	.more-products&attributes(attributes)
		.more-products__wrap
			.more-products__main-title Идеальная пара к Вашему заказу
			.more-products__list.js--more-products-list(data-more-products-list)
				.more-products__item
					.more-products__top
						a.more-products__title(href="#") Одеяло Blue Sleep Duvet
					.more-products__bottom
						.more-products__bottom-column.more-products__bottom-column_pos_1
							a.more-products__img-box(href="#")
								img.more-products__img(src="img/c/blogers_1.jpg", alt='')
						.more-products__bottom-column.more-products__bottom-column_pos_2
							.counter-amount.more-products__counter-amount
								button.counter-amount__btn.counter-amount__btn_minus(data-counter-amount-btn="minus").basket-order__counter-amount-btn
									img.basket-modal__counter-amount-btn-img(src="img/minus.png", alt='')
								input.counter-amount__value( value="1").js--counter-amount-value.basket-order__counter-amount-value
								button.counter-amount__btn.counter-amount__btn_plus(data-counter-amount-btn="plus").basket-order__counter-amount-btn
									img.basket-modal__counter-amount-btn-img(src="img/plus.png", alt='')
							.more-products__btn-wrap
								button.more-products__btn.btn Добавить
				.more-products__item
					.more-products__top
						a.more-products__title(href="#") Одеяло Blue Sleep Duvet
					.more-products__bottom
						.more-products__bottom-column.more-products__bottom-column_pos_1
							a.more-products__img-box(href="#")
								img.more-products__img(src="img/c/blogers_1.jpg", alt='')
						.more-products__bottom-column.more-products__bottom-column_pos_2
							.counter-amount.more-products__counter-amount
								button.counter-amount__btn.counter-amount__btn_minus(data-counter-amount-btn="minus").basket-order__counter-amount-btn
									img.basket-modal__counter-amount-btn-img(src="img/minus.png", alt='')
								input.counter-amount__value( value="1").js--counter-amount-value.basket-order__counter-amount-value
								button.counter-amount__btn.counter-amount__btn_plus(data-counter-amount-btn="plus").basket-order__counter-amount-btn
									img.basket-modal__counter-amount-btn-img(src="img/plus.png", alt='')
							.more-products__btn-wrap
								button.more-products__btn.btn Добавить
				.more-products__item
					.more-products__top
						a.more-products__title(href="#") Одеяло Blue Sleep Duvet
					.more-products__bottom
						.more-products__bottom-column.more-products__bottom-column_pos_1
							a.more-products__img-box(href="#")
								img.more-products__img(src="img/c/blogers_1.jpg", alt='')
						.more-products__bottom-column.more-products__bottom-column_pos_2
							.counter-amount.more-products__counter-amount
								button.counter-amount__btn.counter-amount__btn_minus(data-counter-amount-btn="minus").basket-order__counter-amount-btn
									img.basket-modal__counter-amount-btn-img(src="img/minus.png", alt='')
								input.counter-amount__value( value="1").js--counter-amount-value.basket-order__counter-amount-value
								button.counter-amount__btn.counter-amount__btn_plus(data-counter-amount-btn="plus").basket-order__counter-amount-btn
									img.basket-modal__counter-amount-btn-img(src="img/plus.png", alt='')
							.more-products__btn-wrap
								button.more-products__btn.btn Добавить

						
