mixin pillows-advantages(data)
	section.pillows-advantages&attributes(attributes)
		.pillows-advantages__container.container
			.pillows-advantages__wrap
				.pillows-advantages__title Подушка нового поколения
				.pillows-advantages__subtitle
					| Зачем выбирать между низкой и высокой подушкой, если можно получить сразу две?
					br
					| Мы изобрели уникальную подушку в подушке, которая понравится каждому.
				.pillows-advantages__list.js--pillows-advantages-list(data-all-slider)
					.pillows-advantages__item
						.pillows-advantages__img-box
							img.pillows-advantages__img(src="img/check.png", alt='')
						.pillows-advantages__desc
							| Позволяет
							br
							| коже дышать
					.pillows-advantages__item
						.pillows-advantages__img-box
							img.pillows-advantages__img(src="img/check.png", alt='')
						.pillows-advantages__desc
							| Легко впитывает
							br
							| и испаряет влагу
					.pillows-advantages__item
						.pillows-advantages__img-box
							img.pillows-advantages__img(src="img/check.png", alt='')
						.pillows-advantages__desc
							| Позволяет
							br
							| коже дышать
				.pillows-advantages__main-img-box
					img.pillows-advantages__main-img(src="img/pillow_main.png", alt='')



