mixin reviews-slider(data, mods)
	section.reviews-slider&attributes(attributes)
		.reviews-slider__container.container
			.reviews-slider__wrap.js-reviews-slider-wrap
				.reviews-slider__item
					.reviews-slider__img-box
						img.reviews-slider__img(src="img/c/reviews-slider_1.png", alt='')
				.reviews-slider__item
					.reviews-slider__img-box
						img.reviews-slider__img(src="img/c/reviews-slider_2.png", alt='')
				.reviews-slider__item
					.reviews-slider__img-box
						img.reviews-slider__img(src="img/c/reviews-slider_3.png", alt='')
				.reviews-slider__item
					.reviews-slider__img-box
						img.reviews-slider__img(src="img/c/reviews-slider_4.png", alt='')
				.reviews-slider__item
					.reviews-slider__img-box
						img.reviews-slider__img(src="img/c/reviews-slider_4.png", alt='')
				.reviews-slider__item
					.reviews-slider__img-box
						img.reviews-slider__img(src="img/c/reviews-slider_4.png", alt='')