mixin self-made(data, mods)
	section.self-made&attributes(attributes)
		.self-made__container.container
			.self-made__main-title Спальня мечты
			.self-made__main-subtitle
				|    Мы не смогли найти кровать, которая нас бы устроила, поэтому сделали свою собственную.
				br
				br
				| Кровать задаёт настроение всей спальне. Лаконичная модель Blue Sleep отлично впишется в самые разные интерьеры: классический, скандинавский, лофт, хай-тек, эко. Мы внимательно отнеслись ко всем элементам и деталям.
			.self-made__wrap.js-self-made-wrap
				.self-made__item
					.self-made__img-box
						img.self-made__img(src="img/c/self-made_1.jpg", alt='')
					.self-made__title
						| Металлический каркас имеет дополнительную опору для большей прочности, в виде металлической ножки посередине основания из решетки.
				.self-made__item
					.self-made__img-box
						img.self-made__img(src="img/c/self-made_2.jpg", alt='')
					.self-made__title
						| Ножки из бука визуально делают кровать изящной
						| и не громоздкой. Гибкие берёзовые планки усиливают ортопедический эффект матраса и помогают продлить срок его службы.
				.self-made__item
					.self-made__img-box
						img.self-made__img(src="img/c/self-made_3.jpg", alt='')
					.self-made__title
						|  Для обивки мы используем ткань из хлопка
						| шерсти, шёлка и льна.