mixin self-made-advantages(data)
	section.self-made-advantages&attributes(attributes)
		.self-made-advantages__container.container
			.self-made-advantages__wrap
				.self-made-advantages__top
					.self-made-advantages__img-box
						img.self-made-advantages__img(src="img/self-made-advantages_1.png", alt='')
						.self-made-advantages__title-tooltip.self-made-advantages__title-tooltip_pos_1.self-made-advantages__title-tooltip_position 1
						.self-made-advantages__title-tooltip.self-made-advantages__title-tooltip_pos_2.self-made-advantages__title-tooltip_position 2
						.self-made-advantages__title-tooltip.self-made-advantages__title-tooltip_pos_3.self-made-advantages__title-tooltip_position 3
						.self-made-advantages__title-tooltip.self-made-advantages__title-tooltip_pos_4.self-made-advantages__title-tooltip_position 4
				.self-made-advantages__list.js-self-made-advantages-list
					.self-made-advantages__item
						.self-made-advantages__title
							.self-made-advantages__title-text
								| Небольшая площадь
							.self-made-advantages__title-tooltip.self-made-advantages__title-tooltip_indent_big 1
						.self-made-advantages__desc
							| Минимализм и строгие плавные формы кровати без излишеств позволяют занять меньшую площадь в спальне.

					.self-made-advantages__item
						.self-made-advantages__title
							.self-made-advantages__title-text
								| Мягкое изголовье
							.self-made-advantages__title-tooltip.self-made-advantages__title-tooltip_indent_big 2
						.self-made-advantages__desc
							| Изголовье не жесткое, можно удобно расположиться, оперевшись, когда хочется выпить утром чашечку кофе в постели или почитать вечером перед сном.

					.self-made-advantages__item
						.self-made-advantages__title
							.self-made-advantages__title-text
								| Хранение под кроватью
							.self-made-advantages__title-tooltip.self-made-advantages__title-tooltip_indent_big 3
						.self-made-advantages__desc
							| Расстояние между полом и основанием кровати — 15 см. Удобно для того, чтобы разместить необходимое для хранения.

					.self-made-advantages__item
						.self-made-advantages__title
							.self-made-advantages__title-text
								| Оптимальная высота
							.self-made-advantages__title-tooltip.self-made-advantages__title-tooltip_indent_big 4
						.self-made-advantages__desc
							| Под кроватью всегда будет чисто —
							|пылесос проходит беспрепятственно.