mixin self-made-desc(data)
	section.self-made-desc&attributes(attributes)
		.self-made-desc__wrap
			.self-made-desc__item
				.self-made-desc__column.self-made-desc__column_pos_1
					.self-made-desc__img-box
						img.self-made-desc__img(src="img/c/self-made-desc_1.jpg", alt='')
				.self-made-desc__column.self-made-desc__column_pos_2
					.self-made-desc__desc-wrap
						.self-made-desc__desk
							| Никто не любит инструкции и мелкие детали, которые
							| непонятно как друг с другом соединять. Мы уже по собрали
							| кровать на фабрике, так что вам остаётся лишь прикрутить
							| ножки и вставить основание с решёткой. Понадобится всего
							| отвертка и один маленький ключ. Вы уже сможете
							| наслаждаться комфортным и здоровым сном раньше,
							| чем вы этого ожидаете
			.self-made-desc__item.self-made-desc__item_pos_2
				.self-made-desc__column.self-made-desc__column_pos-second_1
					.self-made-desc__desc-wrap
						.self-made-desc__desk
							| Нам сложно  было найти минималистичную кровать
							| для съемок наших матрасов, которая максимально
							| подходила бы под наш стиль, поэтому мы создали свою.
							| В разработке модели мы учли три главных аспекта:
							| быстрая сборка, минимализм в стиле и цена.
							| Премиальное качество по реальной цене.
				.self-made-desc__column.self-made-desc__column_pos-second_2
					.self-made-desc__img-box
						img.self-made-desc__img(src="img/c/self-made-desc_2.jpg", alt='')

