mixin sets-banner(data)
	section.sets-banner&attributes(attributes)
		.sets-banner__container.container
			.sets-banner__wrap
				.sets-banner__content
					.sets-banner__title
						| Все что нужно
						br
						|	для комфортного сна
					.sets-banner__desc
						| Экономьте до 25%
						br
						| с комплектами от Blue Sleep