mixin sidebar(data)
	.sidebar&attributes(attributes)
		ul.sidebar__list
			li.sidebar__item.active
				a(href="#").sidebar__link Контакты
			li.sidebar__item
				a(href="#").sidebar__link О кoмпании
			li.sidebar__item
				a(href="#").sidebar__link Реквизиты
			li.sidebar__item
				a(href="#").sidebar__link Сертификаты
			li.sidebar__item
				a(href="#").sidebar__link Блог
			li.sidebar__item
				a(href="#").sidebar__link Сотрудничество