mixin stars-rating(data)
	.stars-rating&attributes(attributes)
		.stars-rating__wrap
			.stars-rating__stars
					.stars-rating__list
						.stars-rating__on(style="width: 68%")
						.stars-rating__live
							span.stars-rating__star
							span.stars-rating__star
							span.stars-rating__star
							span.stars-rating__star
							span.stars-rating__star
			.stars-rating__text 337 отзывов